@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');

html, body {
  font-family: 'Montserrat', sans-serif;
}

.btn-orange {
  background-color: #f0ab00;
  border-color: #f0ab00;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000000;
  padding: 6px 30px;
  margin-bottom: 20px;
  border-radius: 0px;
}

.my-booking-button {
  width: 180px;
  padding: 10px 9px;
}

.topbar p:hover {
  cursor: pointer;
}

.topbar-date {
  width: 265px;
}

.topbar-name {
  width: auto;
  padding-right: 15px;
}

.topbar-people {
  width: 131px;
}

.topbar-buttons {
  width: 308px;
  margin-left: auto;
}

.topbar-change {
  width: 132px;
}

.topbar-wider .topbar-date {
  width: 265px;
}

.topbar-wider .topbar-name {
  width: auto;
  padding-right: 15px;
}

.topbar-wider .topbar-people {
  width: 131px;
}

.topbar-wider .topbar-buttons {
  width: 308px;
  margin-left: auto;
}



.ml-minus-15  {
  margin-left: -15px;
}



.discount-absolute {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.min-h {
  min-height: 300px;
}

.tooltip {
  overflow: hidden;
}

.aps-list {
  margin-left: -40px;
}

#pills-home h5 {
  font-size: 16px;
}

#pills h5 {
  font-size: 16px;
}

.quantity {
  margin-top: 8px;
}

.topbar-wider .topbar-change {
  width: 112px;
}

.additional-packages {
  display: none;
}

.less-packages {
  display: none;
}

#currencies {
  height: 43px;
  width: 88px;
}

.btn-grey {
  background: #cbcbcb !important;
}

.topbar__name--calendar  {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.topbar__name--calendar b {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
}

.topbar__name {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
}

.topbar__date {
  font-size: 16px;
  font-weight: 300;
}

.topbar__date span {
  font-size: 20px;
  font-weight: 600;
}

.item {

  padding: 5px;
  width: 33%;

}


.inline-b {
  max-width:1200px;
  margin:0 auto;
}
.inline-b-item {
  display: inline-block;
}

.search__modal {
  border-radius: 5px; 
}
.search__modal--content {
  border-radius: 5px;
}

.property-images a .gallery-p {
  bottom: -12px;
}

.btn-orange-bg {
  background: #f0ab00 !important;
}
.slick-prev:before {
  content: url('../img/mobile-slider-arrow-left.png') !important;
}

.slick-next:before {
  content: url('../img/mobile-slider-arrow-right.png') !important;
}

.other-locations .slick-next {
  right: 10px !important;
}

footer a:hover {
  color: black !important;
  text-decoration: none;
}

.booked .your-booking::after {
  content: "";
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  z-index: 10;
  border-style: solid;
  border-width: 20px 17.5px 0 17.5px;
  border-color: #333333 transparent transparent transparent;
}

.your-booking::after {
  content: "";
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  z-index: 10;
  border-style: solid;
  border-width: 20px 17.5px 0 17.5px;
  border-color: #333333 transparent transparent transparent;
}

.slick-prev {
  left: 0px !important;
  z-index: 500;
}

.slick-next {
  right: 0px !important;
}

.last-step {
  text-align: center;
  color: black !important;
}

.last-step:hover {
  text-decoration: none;
}

.topbar__people {
  font-size: 16px;
  font-weight: 300;
}
.topbar__people b {
  font-size: 20px;
}

#fullscreen {
  padding: 4px 20px;
}

#sortBy {
  width: 127px;
}

.topbar__people span {
  font-size: 20px;
  font-weight: 600;
}

.topbar__change {
  font-size: 17px;
  color: #f0ab00 !important;
}

.topbar__change img {
  width: 12px;
}

.confirmation__footer--paragraph {
  color: #333333;
}

.agree-font {
  font-size: 14px;
}

.row.confirm-mobile.d-flex.d-lg-none.no-margin-x.bg-black {
  height: 50px;
}

.reserv .col-md-6 {
  padding-left: 40px;
  padding-right: 10px;
}

.topbar__date--nights {
  font-size: 14px !important;
  font-weight: 300 !important;
}

.black-bg {
  background: black !important;
}


/* 
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 21%;
  max-width: 25%;
} */

/* .offset-2 {
  margin-left: 20.666667%;
} */

.btn-orange span{
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.line-22 {
  line-height: 22px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-22 {
  font-size: 22px !important;
}
.font-26 {
  font-size: 26px;
}
.font-28 {
  font-size: 28px;
}

.clear-both {
  clear: both;
}

.list-inline {
  margin-bottom: 5px;
}

.list-inline {
  display: flex;
}

.list-inline li {
  flex: 1;
}

.aps {
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-size: 14px;
}

.box {
  display: flex;
  align-items:center;
}

#extras .panel-heading {
  background: #333333;
}

.extras__heading {
  color: white !important;
  font-size: 22px !important;
  font-weight: 600;
}

.currency-label select {
  appearance: none;
}
.currency-label {position:relative}
.currency-label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.currency-label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
} 


.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image: url('../img/header.png');
    height: 350px;
  }

.bg-image-extras-full {
  background: no-repeat left center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: url('../img/banner-extras.png');
  height: 350px;
}
  
.navbar {
  background-color: rgba(0, 0, 0, 0.45) !important;
  padding: 0;
  height: 48px;
}

.nav-link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  border-right: 1px solid white;
  padding: 0 8px;
}
.modal {
  font-family: 'Montserrat', sans-serif;
}
.header {
  background-color: rgba(0, 0, 0, 0.45) !important;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.header h1 {
  padding-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300 !important;
  margin-bottom: 15px;
}

.header h1 span {
  font-weight:  bold;
}

.header p {
  font-size: 15px;
  margin-bottom: 20px;
}

.header__bee {
  position: absolute;
  top: 90px;
  left: 23.5vw;
  z-index: 500;
}

.facilities__list ul {
  padding-left: 0;
  margin-left: -1px;
  line-height: 1.6em;
}

.facilities__list ul li {
  color: #3c3c3c;
  list-style: none;
}

.facilities__list ul li::before {
  color: #f0ab00;
  content: "\2022";
  font-size: 2.4em;
  padding-right: 0.2em;
  position: relative;
  top: 0.1em;
}

.facilities__list li {
  overflow: hidden;
}


#lightbox .container {
  margin-left: 0;
  margin-right: 0;
}

#lightbox .close {
  overflow: hidden;
  padding: 30px 30px !important;
}

#lightbox .modal-content {
  padding: 0px;
  border: 0;
  border-radius: 0;
}

#lightbox .modal-body {
  padding: 0;
}

#lightbox .modal-header {
  border-bottom: 0;
  padding: 0;
}

#lightbox .modal-content hr {
  margin-top: 2.2rem;
}

.estate__header h2 {
  margin-bottom: 45px;
}

.estate__header--room {
  font-weight: bold;
}

.estate__description {
  color: #333333;
  font-weight: 400;
  padding: 0 15px;
  line-height: 24px;
}

.read-more-invoke {
  color: #f0ab00 !important;
  text-decoration: underline !important;
}

.estate__header--info {
  font-size: 1em;
  font-weight: normal;
  color: #888888;
  text-transform: none;
  margin-right: 50px;
  display: inline;
}

.estate__header--info:last-child {
  margin-right: 0;
}

.estate__header--info p {
  margin-left: 8px;
  display: inline;
  font-size: 0.9em;
}

.facilities__header {
  text-transform: uppercase;

  margin-top: 42px;
}

.facilities__header--text {
  font-size: 20px;
}

.facilities__header--bold {
  font-weight: bold;
}

.facilities__header--img {
  margin-left: 14px;
  margin-bottom: 5px;
}

.facilities__list {
  margin-top: 40px;
}

.facilities__list--header {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.booking-date-row {
  display: inline-flex;
  width: 100%;
}

.package-dt {
  text-align: right;
}

.package-price {
  text-align: center;
}

.booking-price-col {
  background-color: white;
}

.date-month-name {
  text-align: right;
}

.booking-date-col {
  width: 14.2%;
}

.slider {
  width: 100%;
}

.topbar {
  background-color: #111111;
}
.topbar p {
  color: white;
}

.font-20 {
  font-size: 20px;
}

.no-y-overflow {
  overflow: hidden;
}

#map-modal {
  height: 670px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

.signup__modal {
  max-width: 670px !important;
  margin: 1.75rem auto;
  margin-top: 5rem !important;
}

.parking__modal--content .modal-body {
  padding-top: 0 !important;
}

.booking__modal {
  max-width: 700px !important;
}

.booking__modal--content span {
  display: inline;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.tab-content>.active {
  display: flex;
}

.location__container {
  padding-left:0;
  padding-right:0;
}

.location__description .col-6:first-child {
  padding-left: 0;
  padding-right: 0;
}

.location__description .col-6:nth-child(2) {
  padding-left: 0;
  padding-right: 15px !important;
}
.btn-grey {
  margin-top: -2px;
}

.location__description--text {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

.obj-cover {
  object-fit: cover;
}

.location__description button {
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
}

.last-step {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    padding: 9px 15px;
    font-size: inherit;
    border: 2px solid transparent;
    background-color: #f0ab00;
}

.location__description button span {
  font-weight: 300;
}

.your-details input {
  background: #eff0f2;
  border-radius: 0;
}

.your-details label {
  font-size: 14px;
  margin-bottom: -3px;
}

.your-details .form-group {
  margin-top: 20px;
}

.payment-details input {
  background: #eff0f2;
  border-radius: 0;
}

.payment-details label {
  font-size: 14px;
  margin-bottom: -3px;
}

.payment-details .form-group {
  margin-top: 20px;
}

.your-booking {
  margin-left: -15px;
  background: #333333;
  margin-right: -15px;
}

.tel-form {
  margin-top: 23px;
}

.your-booking h3 {
  color: white;
  display: inline;
}

.round {
  position: relative;
}

.list-inline li {
  list-style-type: square;
}

.day-box {
  display: inline-flex;
  overflow: hidden;
  margin: 5px 10px;
  width: 188px;
  height: 120px;
}

.border-yellow {
  border: 1px solid #f0ab00;
}

.spinner {
  width: 20px;
  height: 20px;
  display: inline !important;
  margin: 0 !important;
}

.selected {
  background: #f0ab00 !important;
}

.selected .package-dt {
  color: white !important;
}

.selected .package-price {
  color: white !important;
}

.gallery-p-5 {
  bottom: -5px !important;
}

.calendar__header {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
}

.calendar__header span {
  font-weight: 300;
}

.not-avail {
  background-color: rgba(255, 255, 255, 0.3);
}

.box {
  display: flex;
  flex-direction: row;
}

.reserving {
  background: #f0ab00 !important;
  border: 1px solid white;
  display: block !important;
}

/* .day-box-text {
  height: 35px;
}

.day-box .row .col-6 {
  height: 30px;
} */

.day-box .row .col-12 {
  height: 35px;
}

.day-name {
  width: 148px;
}

/* .box :nth-child(1) { order: 1; }
.box :nth-child(2) { order: 2; }
.box :nth-child(3) { order: 3; }
.box :nth-child(4) { order: 4; }
.box :nth-child(5) { order: 5; }
.box :nth-child(6) { order: 6; }
.box :nth-child(7) { order: 7; } */

.day-box-price {
  font-size: 1.2em;
  height: 35px;
}

.day-box-text {
  font-size: 12px;
}

.round label {
  background-color: #eff0f2;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
  margin-top: 15px;
}

.round label:after {
  border: 2px solid #eff0f2;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}

.other-locations-padding {
  padding-left: 0.5rem !important;
}

.other-locations .row.align-items-center p {
  font-size: 18px;
}

.photos-icon {
  width: 16px !important;
  height: 13px;
}

.other-locations-minus-margin {
  margin-bottom: -3px;
}

.calendar-container h2 {
  font-size: 28px;
}

.calendar-container p {
  font-size: 15px;
}

.reserv h2 {
  font-size: 28px;
}

.month-title {
  font-size: 24px;
}

.reserv .prices-small {
  font-size: 16px !important;
}

.reserv h3 {
  font-size: 26px;
}

.reserv h4 {
  font-size: 20px;
  font-weight: 700;
}

.reserv .booking-bg .row {
  font-size: 15px;
}

.reserv .btn-orange:hover {
  color: black;
}

.reserv p {
  font-size: 15px;
}

.square {
  position: relative;
}

.square label {
  background-color: #eff0f2;
  border: 1px solid #ccc;
  border-radius: 0;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: -7px;
  width: 28px;
  margin-top: 15px;
}

.booked-corner {
  position: absolute;
  height: 100px;
  width: 118px;
  background: #333333;
  color: white;
  border-radius: 0 0 100px 0;
  font-size: 14px;
  font-weight: 500;
  padding-left: 8px;
  padding-top: 10px;
}

.square label:after {
  border: 2px solid #eff0f2;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.square p {
  margin-left: 20px;
  display: inline;
}

.square input[type="checkbox"] {
  visibility: hidden;
}

.square input[type="checkbox"]:checked + label {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
}

.square input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round p {
  margin-left: 20px;
  display: inline;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="radio"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="radio"]:checked + label {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(0, 0, 0, 0.9);
}

.round input[type="radio"]:checked + label:after {
  opacity: 1;
}

.width-160 {
  width: 160px !important;
  margin-left: 50px;
}

.confirm-mobile  {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.py-2.width-160 {
  width: 160px !important;
  margin-left: 0;
}

.bg__beds {
  background: #eff0f2;
}

.border-grey-blr {
  border-bottom: #cbcbcb 1px solid;
  border-left: #cbcbcb 1px solid;
  border-right: #cbcbcb 1px solid;
}

.border-grey-ltr {
  border-top: #333333 6px solid;
  border-left: #cbcbcb 1px solid;
  border-right: #cbcbcb 1px solid;
}

.border-grey {
  border: #cbcbcb 1px solid;
}

.mx-15 {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.font-grey {
  color: #888888;
}

.font-calendar-grey {
  color: #77787c;
}

.border-right-menu {
  border-right: 1px solid #77787c;
}

.mx-25 {
  margin-left: -25px !important;
  margin-right: -25px !important;
}

.your-booking-bg {
  background: #e5e5e5;
  margin: 0;
}

.booking-bg {
  background: #e5e5e5;
}

.app .panel-heading {
  border-bottom: 0;
  background: white;
  padding-bottom: 0;
}

.bg-grey {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.bg-grey-ap {
  background: #eff0f2;
}

.parking-map {
  font-size: 15.5px;
  color: #f0ab00;
  text-decoration: underline;
}

.footer-cc-icons .list-inline li {
  flex: inherit;
}

.footer-cc-icons .list-inline li:first-child {
  margin-left: 1.4rem;
}

#pills-active {
  padding: 20px 50px;
  background: #eff0f2;
  border-radius: 0;
  color: black;
  border-top: #333333 6px solid;
  border-left: #cbcbcb 1px solid;
  border-right: #cbcbcb 1px solid;
}

.clickable {
  cursor: pointer;
}

#pills-active::after {
  content: "";
    position: absolute;
    top: 120px;
    left: 110px;
    right: 0;
    width: 0;
    height: 0;
    z-index: 10;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333333 transparent transparent transparent;
}

#pills-active.changed::after {
  content: "";
    position: absolute;
    top: 120px;
    left: 365px;
    right: 0;
    width: 0;
    height: 0;
    z-index: 10;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333333 transparent transparent transparent;
}

.border-right-grey {
  border-right: 1px #77787c solid;
}

#pills-second {
  padding-bottom: 25px !important;
  padding: 20px 50px;
  background: white;
  border-radius: 0;
  color: black;
  border-right: #cbcbcb 1px solid;
  border-top: #cbcbcb 1px solid;
  border-left: #cbcbcb 1px solid;
}
.bl-grey {
  border-left: #cbcbcb 1px solid;
}

.bg-grey-aps {
  background: #eff0f2;
  border: 1px solid #cbcbcb;
}

.bg-white {
  background: white;
}

.search__modal {
    max-width: 340px !important;
    margin: 1.75rem auto;
    margin-top: 5rem !important;
    background: #f0ab00;
}

.search__modal .modal-body {
  background: #f0ab00;
}

.signup__modal--image {
  height: 45px;
  width: 40px;
}

.signup__modal input {
  background: #eff0f2;
  border: 1px solid #cbcbcb;
  border-radius: 0;
}

.signup__modal .form-check-inline {
  align-items: normal;
}

.signup__modal--content .modal-header .container {
  margin-top: 30px;
}

.search__modal .modal-body {
  padding: 10px 20px 20px 20px;
}

.search__modal .modal-body .container-fluid {
  padding: 0;
}

.search__modal--content .modal-body .container-fluid .form-group label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  margin-bottom: -5px;
}

.search__modal--content .modal-body .container-fluid .form-row .col label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  margin-bottom: -5px;
}

.location__info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 15px;
}

.search__modal--content .square {
  height: 40px;
}

.search__modal {
  border-radius: 0px;
}

.search__modal--content .form-check {
  margin: 0;
}

.search__modal--content .square label {
  margin-top: 6px;
}

.location__info--textbox {
  margin-top: 40px;
}

.form-check {
  margin: 20px 0;
}

.search__modal--content .modal-body .container-fluid .form-group input {
  border-radius: 0;
  border: 0;
}

.search__modal--content .modal-body .container-fluid .form-group select {
  border-radius: 0;
  border: 0;
}

.search__modal--content .modal-body .container-fluid .form-row .col input {
  border-radius: 0;
  border: 0;
}

.font-13 {
  font-size: 13px;
  margin-bottom: 11px;;
}

.font-18 {
  font-size: 18px;
}

.map-box-header {
  font-size: 15px;
}

.your-booking-bg {
  font-size: 15px;
}

.your-booking-bg .discount__signup p {
  font-size: 15px;
}

.your-booking-bg .row.mt-4.no-margin-top-mobile.no-margin-x-mobile .col-lg-7 {
  font-size: 16px;
}

.your-booking-bg .row.mt-4.no-margin-top-mobile.no-margin-x-mobile .col-lg-5 {
  font-size: 16px;
}

.your-booking-bg h4 {
  font-size: 22px;
}

.your-booking-bg .row.mt-3.pb-3.no-margin-x-mobile .col-lg-7 {
  font-size: 16px;
}

.your-booking-bg .row.mt-3.pb-3.no-margin-x-mobile .col-lg-5 {
  font-size: 16px;
}

.panel-body .col-lg-4 {
  font-weight: 600;
}

.reserv .prices-small .text-right.bold {
  font-weight: 600;
}

.reserv .panel-body .col-lg-4 {
  font-weight: 500;
}

.reserv .panel-body .col-lg-6.pl-1 {
  font-weight: 500;
}

.panel-body .col-lg-6.pl-1 {
  font-weight: 600;
}

.font-12 {
  font-size: 12px !important;
}

.text-through {
  text-decoration: line-through #f0ab00;
}

.f-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.reviews__modal--content {
  border-radius: 0;
}

.reviews__modal--content .modal-header .modal-title {
  padding-top: 41px;
  text-transform: uppercase;
  font-size: 28px;
  padding-bottom: 30px;
}
.reviews__modal--content .modal-header .modal-title p {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #333333;
}

.reviews__review:first-child {
  margin-top: 0px;
}

.reviews__review {
  margin-top: 30px;
}

.reviews__review .col-md-10 {
  padding: 0;
  border-bottom: 1px solid #dcdcdc;
}

.reviews__review:first-child .col-md-10 {
  padding-top: 30px;
  border-top: 1px solid #dcdcdc;
}

.reviews__review:last-child .col-md-10 {
  padding: 0;
  border-bottom: 0;
}

.reviews__review h3 {
  font-size: 20px;
}

.reviews__review--username {
  margin-top: 18px;
}

.reviews__review--description {
  margin-bottom: 30px;
}

.reviews__review--tripadvisor {
  margin-top: 10px;
}

.reviews__review--profile {
  margin-top: 0px;
}

.reviews__review:first-child .reviews__review--profile {
  margin-top: 30px;
}

.reviews__review p {
  font-size: 14px;
  line-height: 24px;
}

.location__touch {
  font-size: 15px;
}

.anchor-yellow {
  color: #f0ab00;
}

.discount__signup {
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 0;
  margin-right: 0;
}

.discount__signup p {
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 0;
  color: white;
  font-weight: normal;
}
.discount__signup p a {
  color: #f0ab00;
  font-weight: bold;
  text-decoration: underline;
}

.apartment {
  background-color: #f0ab00;
}

.booked {
  background-color: #dddddd;
}

.booked .apartment__tripadvisor span a {
  color: black !important;
}

.no-availability {
  background-color: #b9b9b9;
  color: black;
  border: 0;
}

.font-300 {
  font-weight: 300 !important;
}

.no-availability span {
  font-size: 15px;
  font-weight: bold;
}

.apartment__gallery img {
  width: 100%;
}

.apartment__header {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.apartment__perks span {
  font-size: 15px;
  font-weight: 400;
}

.apartment {
  color: black;
}

.apartment__booking p {
  font-size: 15px;
}

.apartment__booking p span {
  font-size: 18px;
  font-weight: 600;
}

.apartment__booking--big-price {
  font-size: 28px !important;
}

.apartment__booking--small-price {
  font-size: 15px !important;
}

.apartment__booking--button {
  background: black;
  color: white;
  border: 0;
  padding-left: 4.2rem !important;
  padding-right: 4.2rem !important;
}

.booking__modal--content .row.align-items-end.text-center.justify-content-center h5 {
  font-size: 22px;
  margin-bottom: 3px;
}

.mt-10 {
  margin-top: 4.8rem !important;
}
.booking__modal--content .modal-header {
  padding: 0px;
  overflow: hidden;
}
.apartment__booking_modal--button {
  padding-left: 1.2rem !important;
  padding-right: 1.2em !important;
  background: black;
  color: white;
}

/* .location__nearby .list-inline-item {
  min-width: 335px;
} */

.booking__modal--content .modal-header .close {
  padding-top: 2rem;
  margin-right: 5px;
}

.grey-bg br {
  content: " "
}

.apartment__booking_modal_next--button {
  background: #f0ab00;
  color: black;
  border: 0;
  border: 2px solid transparent;
}

.no-availability {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.modal {
  padding: 0 !important;
}

.cancelation__modal--text {
  background: #f0ab00;
  color: black;
  font-size: 16px;
}

.extra__modal--text {
  background: #f0ab00;
  color: black;
  font-size: 16px;
}

.signup__modal--button {
  background: #f0ab00;
  color: black;
  border: 0;
}

#signup {
  padding: 0 !important;
}

.anchor-black {
  color: black !important;
}

.px-7 {
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

.px-6 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.ml-7 {
  margin-left: 5.5rem;
}

.apartment__header span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

.apartment__tripadvisor span {
  color: white !important;
  font-size: 12px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  text-decoration: none;
}

.apartment__tripadvisor span a {
  color: white !important;
  font-size: 12px !important;
  line-height: 22px !important;
  font-weight: 500 !important;
  text-decoration: none;
}

.apartment__description p {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.modal-header {
  padding: 16px 30px;
  border: 0;
}

.modal-header .close {
  padding: 30px 15px;
}

.modal-footer {
  border: 0;
}

footer {
  background-color: #ddd;
  padding: 30px 0;
}

.sc-foot {
  font-size: .8em;
}
.sc-city-dropdown, .sc-foot, .sc-max, .sc-max-home, .sc-news-signup, article, header h1, header h2, nav {
  margin: 0 auto;
}
.sc-foot, .sc-max-home, .sc-news-signup {
  max-width: 1080px;
}

ul.footer-listing-locations {
  width: 100%;
  overflow: visible;
  margin-top: 0;
}

ul {
  padding-left: 10px;
}

ul.footer-listing-links {
  float: left;
  width: 48%;
  list-style: none;
  margin-top: 35px;
  margin-bottom: 25px;
}

.sc-copyr, .sc-ta-sub-ratings, ul.footer-listing-links:nth-child(1) {
  clear: both;
}

.centered, a.sc-btn, button {
  text-align: center;
}

.sc-news-signup h2, a.sc-btn, article h2, button, h1, h6 {
  text-transform: uppercase;
}
.flatpickr-calendar:focus, :focus {
  outline: 0;
}
.centered, a.sc-btn, button {
  text-align: center;
}
.sc-mob-close button, a.sc-btn, button, nav li, nav span.w-sub:focus, nav span.w-sub:hover {
  cursor: pointer;
}
.home-location p, header h1 {
  text-shadow: 1px 1px 3px #555;
}
.clears, hr {
  clear: both;
}

.hidden {
  display: none;
}

.img-100 {
  width: 100%;
}

.location__description--orangebox {
  background: #f0ab00;
}

.location__description--orangebox h1 {
  font-size: 28px;
}

.font-white {
  color: white !important;
}

.extra__panel--image {
  width: 94px;
  height: 70px;
}

.panel-heading .bg-white {

}

nav a {
  color: white !important;
}

nav a:hover {
  text-decoration: none;
}

#locationModal .panel-heading {
  padding-top: 10px;
}

.border-grey-blt {
  border-top: 1px solid #cbcbcb;
  border-left: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}

#reviewsModal hr {
  width: 75%;
  margin-right: 50px;
}

.reviews__pagination--active {
  width: 40px;
  height: 40px;
  background: #f0ab00;
  color: white;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
}

.your-booking-bg .arrow-big {
  color: black !important;
  font-size: 2em;
}

.breakfast__heading i {
  margin-left: auto;
}

#signup .form-check {
  padding-left: 0px;
}

.agree-font-margin {
  margin-left: 37px !important;
}

#signup .square label {
  top: 6px !important;
}

#signup .square a {
  color: black !important;
}

.reviews__pagination {
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 600;
}

.bg-orange {
  background: #f0ab00;
}

.font-orange {
  color: #f0ab00;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.bg-black {
  background: black;
}

.opacity-2 {
  opacity: 0.2;
}

.font-black {
  color: black !important;
}

html.fr-dialogmodal:not("aria-hidden='false'") {
  overflow-y: hidden;
}
* {
  overflow: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
}
a, button, html, img, p, section.sc-navigation {
  overflow: visible;
}
.sc-img-with-caption, .sc-show-hide, header {
  overflow: hidden;
}
option, select {
  background-color: #eff0f2;
  padding: 2px 5px;
  line-height: 1.65em;
  border-radius: 0;
  border: 1px solid #cbcbcb;
}

.btn-black {
  background: #000000;
  color: white;
}

.steps-cover ul {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  line-height: 1;
}

.steps-cover ul:before {
  content: "";
  left: 10px;
  right: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background: #000000;
  margin-top: -1px;
}

.steps-cover ul li:first-child {
  float: left;
  margin-left: 0;
}

.steps-cover ul li:nth-child(2) {
  float: left;
  margin-left: 150px;
}


.steps-cover ul li:last-child {
  float: left;
  margin-left: 134px;
  margin-right: 0;
}

.steps-cover ul li {
  display: inline-block;
  margin: 0;
}

.steps-cover ul li.active a {
  background: #f0ab00;
}
.steps-cover ul li a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ffffff;
  border: solid 2px #000000;
  position: relative;
}
.steps-cover {
  overflow: hidden;
}

.info .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.info__orange {
  background: #f0ab00;
}

.topbar a {
  cursor: pointer;
}

.sc-select-your-city option {
  background-color: #111;
  color: #fff;
}
article, aside, figcaption, figure, footer, header, main, mark, nav, section, time {
  display: block;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.25em;
  color: #000;
  overflow-x: hidden;
}

.search__modal--content .close {
  width: 30px;
  height: 30px;
}

.search__modal--content {
  border-radius: 0px;
} 

::-webkit-calendar-picker-indicator {

  color: rgba(0, 0, 0, 0);
  opacity: 1
}

::-webkit-calendar-picker-indicator::after {

  content: '';
  display: block;
  background: url("./img/icon-datepicker.png") no-repeat;
  position: absolute;
  transform: translateX(-2%);

}

.apartment__header {
  overflow: hidden;
}

.search__modal--content .apartment__booking--button {
  padding-left: 2.2rem !important;
  padding-right: 2.2rem !important;
}

.arrow-big {
  font-size: 4em;
  color: white;
  margin-top: 5px !important;
  margin-right: 10px;
}

.f-500 {
  font-weight: 500;
  line-height: 1.6;
}

.location h5 {
  margin-bottom: 40px;
}

.location__nearby li {
  font-size: 15px;
  font-weight: 300;
  padding: 10px 0;
}

.panel-title a {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: black;
}

.arrow {
  margin-top: 18px;
}

.panel-heading {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

hr.sc-pr {
  height: 1px;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 40px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
  line-height: 1.15em;
  overflow: hidden;
  font-weight: 100;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus { 
  outline: none;
  box-shadow: none;
  border: 1px solid #000;
  background: rgb(239, 240, 242);
}

.your-booking-bg .row {
  padding-right: 10px;
}


.dot {
  margin-right: 5px;
}

.no-margin-x {
  margin-left: 0;
  margin-right: 0;
}

.bg-grey {
  background: #333333;
}

.confirm-mobile .col-6 {
  padding-left: 0;
  padding-right: 0;
}

.location__know span {
  font-size: 15px;
  margin-top: 0px;
  display:inline-block;
}
.sc-subnav-items {
  z-index: 10000;
}
.hero-tagline h2, .home-grid-content h1, h1.sc-max, h6, header h1, nav a, nav span.w-sub, small, ul.sc-subnav-items a {
  font-weight: 400;
}
h6 {
  color: #aaa;
  margin: 2px 0;
}
a.sc-btn, button {
  display: inline-block;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  padding: 9px 15px;
  font-size: inherit;
  border: 2px solid transparent;
  background-color: #f0ab00;
}
.wpml-ls-legacy-list-horizontal {
  margin-left: -20px;
}
a.sc-btn {
  padding: 5px 15px;
  vertical-align: bottom;
  text-decoration: none;
}
.btn-show-hide {
  background: 0 0;
  text-transform: none;
  font-size: .85em;
  color: #777;
  padding: 10px 6px;
}
.sc-exp-image, header {
  background-size: cover;
  background-position: center;
}
.hero-rate, .property-tagline h2, .sc-hero h1, .sc-hero-row button, nav {
  text-transform: uppercase;
}
.sc-city-benefits-p h2, header, header h1, header h2 {
  color: #fff;
}
.sc-show-hide {
  max-height: 85px;
  transition: max-height .75s ease-in;
}
.sc-city-intro-p.sc-show-hide, .sc-property-directions.show-hide {
  max-height: 125px;
}
.sc-city-benefits-p.sc-show-hide, .sc-prop-facilities.sc-show-hide {
  max-height: 240px;
}
.sc-city-intro-p p {
  margin: 5px 0;
}
.facilities {
  padding: 16px;
}
.estate__description p {
  padding: 16px;
}
.sc-main-content-blk h2 {
  padding: 0 10px;
}
.sc-main-content-blk p {
  margin: 5px 10px;
}
.benefits-list ul {
  display: inline-block;
  padding-left: 0;
}
.show-chevron {
  margin-left: 8px;
  display: inline-block;
  transform: rotate(-90deg);
}
.no-pads, nav ul {
  margin: 0;
}
p {
  margin: 5px 0;
}
ul {
  padding-left: 10px;
}
footer {
  background-color: #ddd;
  padding: 30px 0;
  margin-top: 30px;
}

footer a {
  color: black;
}

.sc-foot, .sc-max-home, .sc-news-signup {
  max-width: 1080px;
}

.reserv h2 {
  margin: 0;
}

.footer-listing-links li a, .footer-listing-locations li a, .gallery a, .sc-pr-btn a, .sc-pr-latest li a {
  text-decoration: none;
}

.sc-copyr, .sc-ta-sub-ratings, ul.footer-listing-links:nth-child(1) {
  clear: both;
}

.credit-card-icon, a.footer-social-icon, span.lock-icon {
  display: inline-block;
}

.sc-foot {
  font-size: .8em;
}
.footer-cc-icons a {
  margin-left: 5px;
  margin-right: 5px;
}
.footer-cc-icons a:first-child {
  margin-left: 0;
}
.footer-social-icon {
  width: 32px;
  height: 32px;
}
.footer-social-icon.fb-icon {
  background: url('../img/icons.png');
  background-size: cover;
}
.footer-social-icon.tw-icon {
  background: url('../img/icons.png') -31px 0;
  background-size: cover;
}
.footer-social-icon.inst-icon {
  background: url('../img/icons.png') -63px 0;
  background-size: cover;
}
.footer-social-icon.link-icon {
  background: url('../img/icons.png') -95px 0;
  background-size: cover;
}
span.lock-icon {
  width: 15px;
  height: 32px;
  background: url('../img/icons.png') -574px 1px;
  background-size: cover;
}
.credit-card-icon {
  width: 50px;
  height: 32px;
  vertical-align: bottom;
}
.credit-card-icon.visa-icon {
  background: url('../img/icons.png') -422px 0;
  background-size: cover;
}
.credit-card-icon.mastercard-icon {
  background: url('../img/icons.png') -473px 0;
  background-size: cover;
}
.credit-card-icon.amex-icon {
  background: url('../img/icons.png') -524px 0;
  background-size: cover;
}
ul.footer-listing-locations {
  width: 100%;
  overflow: visible;
  margin-top: 0;
}
.footer-listing-locations li {
  list-style: none;
  float: left;
  width: 18.5%}
ul.footer-listing-links {
  float: left;
  width: 48%;
  list-style: none;
  margin-top: 35px;
  margin-bottom: 25px;
}

#more-menu {
  z-index: 500;
}
.signup__modal--content h5 {
  display: inline;
}

@media (max-width:767px) {
  nav select {
  max-width: 38%}
header .hgroup {
  padding-left: 10px;
  padding-right: 10px;
}
.header-logo {
  position: relative;
  margin-top: 15px;
}

.footer-cc-icons, .footer-social-icons {
  text-align: center;
  margin: 0 auto;
}
.footer-cc-icons {
  border-bottom: 1px solid #999;
}
}
select {
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background: url("../img/dropdown-arrows.png") no-repeat;
  background-size: 6px;
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  background-color: #efefef;
}
