@media (min-width: 321px) and (max-width: 375px) {
    #extras .panel-heading {
        padding: 7px 0px;
        height: auto;
    }
    #extras .panel-heading img {
        margin-bottom: 0px;
    }
    .other-locations .apartment__booking--button {
        padding: 10px 4.7rem !important;
    }
    #signup .agree-font-mobile {
        margin-top: -10px;
    }
    .extra__box {
        padding: 20px 10px;
    }
    .bg-orange h5 {
        font-size: 16px;
        margin-top: 10px !important;
    }
    .bg-orange img {
       height: 16px;
    }
    .bg-orange .mt-2.d-flex.align-items-center {
        margin-top: -0.2rem !important;
    }
    .bg-orange .apartment__booking--button {
        width: 142px;
        height: 30px;
        padding: 0 !important;
    }
    .bg-orange .apartment__booking--button {
        margin-left: 104px !important;
    }
    #pills-active::after {
        top: 194px;
        left: 85px;
    }
    #pills-active.changed::after {
        top: 193px;
    }
    #pills-active.changed::after {
        left: 275px;
    }
    .breakfast__heading:nth-of-type(1) {
        margin-top: 0px !important;
    }
    .breakfast__heading {
        margin-top: 30px !important;
    }
    .width-160 {
        width: 100% !important;
        padding: 5px;
    }
    .booking-bg .col-8 {
        padding: 0 !important;
    }
    .booking-bg .col-6 {
        padding: 0 !important;
    }
    .booking-bg .col-7 {
        padding: 0 !important;
    }
    .booking-bg .col-5 {
        padding: 0 !important;
    }
    .booking-bg .col-4 {
        padding: 0 !important;
    }
    .booking-bg {
        padding: 0;
    }
    .booking-bg .row.no-margin-x-mobile {
        padding: 0 10px;
    }
    .booked .your-booking::after {
        top: 245px !important;
    }
    .width-100-mobile {
        width: 220px !important;
    }

}
@media (min-width: 376px) and (max-width: 415px) {

    #extras .panel-heading {
        padding: 7px 0px;
        height: auto;
    }
    #extras .panel-heading img {
        margin-bottom: 0px;
    }
    #signup .agree-font-mobile {
        margin-top: -10px;
    }
    .extra__box {
        padding: 20px 10px;
    }
    .width-100-mobile {
        width: 220px !important;
    }
    .beds {
        padding: 0px;
    }
    .breakfast__heading:nth-of-type(1) {
        margin-top: 0px !important;
    }
    .breakfast__heading {
        margin-top: 30px !important;
    }
    .bg-orange h5 {
        font-size: 16px;
        margin-top: 10px !important;
    }
    .bg-orange img {
       height: 16px;
    }
    .bg-orange .mt-2.d-flex.align-items-center {
        margin-top: -0.2rem !important;
    }
    .bg-orange .apartment__booking--button {
        width: 142px;
        height: 30px;
        padding: 0 !important;
    }
    .bg-orange .apartment__booking--button {
        margin-left: 114px !important;
    }
    .unavailable-aps .property-images .gallery-p {
        bottom: -4px !important;
    }
    .pills-free {
        font-size: 12px !important;
    }
    .pills-active {
        font-size: 12px !important;
    }
    #pills-active::after {
        top: 194px;
        left: 85px;
    }
    #pills-active.changed::after {
        top: 193px;
    }
    .booking-bg .col-8 {
        padding: 0 !important;
    }
    .booking-bg .col-6 {
        padding: 0 !important;
    }
    .booking-bg .col-7 {
        padding: 0 !important;
    }
    .booking-bg .col-5 {
        padding: 0 !important;
    }
    .booking-bg .col-4 {
        padding: 0 !important;
    }
    .booking-bg {
        padding: 0;
    }
    .booking-bg .row.no-margin-x-mobile {
        padding: 0 10px;
    }
}

@media (max-width: 320px) {
    .booked .your-booking::after {
        top: 260px;
    }
    #extras .panel-heading {
        padding: 7px 0;
        height: auto;
    }
    #extras .panel-heading img {
        margin-bottom: 0px;
    }
    #signup .agree-font-mobile {
        margin-top: -10px;
    }
    .apartment__booking_modal--button {
        font-size: 15px;
        padding: 0.5rem 0 !important;
    }
    .width-100-mobile {
        width: 220px !important;
    }
    .facilities__margin .aps-name {
        padding-right: 0px;
    }
    #accordion .row {
        padding: 0 10px;
    }
    #pills-active.changed::after {
        content: "";
        position: absolute;
        top: 163px;
        left: 240px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }
    .pills-active#pills-second {
        padding: 13px 11px !important;
    }
    .pills-free#pills-active {
        padding: 3px 10px !important;
        border: 0 !important;
    }
    .signup__modal .square .agree-font-mobile {
        margin-top: -10px;
    }
    .font-28 {
        font-size: 20px;
    }
    .topbar__date span {
        font-size: 16px;
        font-weight: 600;
    }
    .topbar__people {
        font-size: 12px;
        font-weight: 300;
    }

    .topbar__people b {
        font-size: 16px;
        font-weight: 600;
    }
    .topbar-date {
        width: 150px !important;
    }
    .topbar-people {
        width: 95px;
    }
    .topbar-change {
        width: 84px;
    }
    .topbar__change span {
        font-size: 14px;
    }
    .discount__signup--no-margin h2 {
        padding-left: 1rem;
    }
    .discount__signup--no-margin label {
        font-size: 15px;
        padding-left: 1rem;
    }
    #fullscreen {
        width: 84px;
        margin-right: 15px;
    }
    .apartment__tripadvisor span a {
        font-size: 14px !important;
    }
    .apartment__booking--button {
        font-size: 14px;
    }
    .apartment__booking--button {
        padding: 10px 3.8rem !important;
    }
    .bg-orange h5 {
        font-size: 16px;
        margin-top: 10px !important;
    }
    .other-locations-padding {
        margin-left: -7px;
    }
    .bg-orange img {
       height: 16px;
    }
    .bg-orange .mt-2.d-flex.align-items-center {
        margin-top: -0.2rem !important;
    }
    .add-to-booking {
        margin-bottom: -5px;
    }
    .discount-absolute {
        height: 32px !important;
        padding: 0 10px;;
    }
    .text-uppercase.font-20 {
        font-size: 16px !important;
    }
    .your-booking-bg .col-8 {
        padding: 0 !important;
    }
    .your-booking-bg .col-6 {
        padding: 0 !important;
    }
    .your-booking-bg .col-7 {
        padding: 0 !important;
    }
    .your-booking-bg .col-5 {
        padding: 0 !important;
    }
    .your-booking-bg .col-4 {
        padding: 0 !important;
    }
    .apartment__header, .apartment__tripadvisor, .apartment__booking, .apartment__perks, .apartment__description {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .booking-bg {
        padding: 0 !important;
    }
    .booking-bg .panel-group {
        padding: 0 10px;
    }
    .booking-bg .panel-body .col-8 {
        padding: 0 !important;
    }
    .other-locations h3 {
        font-size: 20px;
    }
    .details__head {
        font-size: 20px;
    }
    .your-booking h3 {
        font-size: 16px;
    }
    .your-booking::after {
        top: 45px;
    }
    .extra__box {
        padding: 10px;
    }
    .font-22.price-mobile {
        font-size: 22px !important;
    }
    .py-2.width-160 {
        width: 220px !important;
    }
    .breakfast__heading:nth-of-type(1) {
        margin-top: 0px !important;
    }
    .breakfast__heading {
        margin-top: 30px !important;
    }
    .bg-orange .apartment__booking--button {
        width: 142px;
        height: 30px;
        padding: 0 !important;
    }
    .read-reviews {
        font-size: 14px;
    }
    .md-no-padding-left {
        padding-left: 0;
    }
    .no-availability {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .no-availability span {
        padding: 0px 5px;
        white-space: normal;
    }

    .footer-cc-icons .list-inline li:first-child {
       margin-left: 0rem;
    }
    .container {
        max-width: 300px !important;
    }
    #pills-active {
        font-size: 13px;
        padding: 9px 11px !important;
    }
    #pills-second {
        font-size: 13px;
        padding: 3px 11px !important;
    }

    #pills-active::after {
        top: 162px;
        left: 75px;
    }

    #pills-home .col-8.d-block.d-md-block.d-lg-none.text-uppercase {
        padding-right: 0;
    }

    #pills-home .col-4.text-right {
        padding-left: 0;
    }
    .property-images a .gallery-p {
        display: none;
    }

    .bestValueHeading {
        margin: 30px 0px 30px 0px !important;
    }
    .steps-cover {
        margin-top: 26px !important;
    }
    .discount__signup--no-margin {
        padding: 0;
    }
    ul.sc-subnav-items a {
        padding: 5px 20px !important;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .booked .your-booking::after {
        top: 260px;
    }
}

@media (max-width: 399px) and (min-width: 200px){
    #pills-active {
        background: #333333;
        color: white;
        padding: 10px 11px !important;
    }
    .pills-free {
        font-size: 12px !important;
    }
    .pills-active {
        font-size: 12px !important;
    }
    .beds {
        padding: 0px;
    }
}
@media (min-width: 350px) and (max-width: 500px) {
    .other-locations .aps {
        padding-left: 15px;
        padding-right: 15px;
    }
    .aps {
        padding-left: 0px;
        padding-right: 0px;
    }
    .apartment__header, .apartment__tripadvisor, .apartment__booking, .apartment__perks, .apartment__description {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
}

@media (max-width: 1199px) {
    .sticky-map {
        position: static !important;
    }
}

@media (min-width: 1200px) {
    .sticky-map {
        position: fixed !important;
        top: 64px;
        width: 38.5% !important;
        z-index: 1000;
    }
    .map-btn {
        overflow:hidden;
    }
}

@media (min-width: 760px) and (max-width: 780px) {
    .booked .your-booking::after {
        top: 225px;
    }
    #signup .agree-font span.d-none {
        margin-left: 0px;
    }
    #pills-active::after {
        content: "";
        position: absolute;
        top: 228px;
        left: 165px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }

    #pills-active.changed::after {
        content: "";
        position: absolute;
        top: 228px;
        left: 565px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }
}

@media (max-width: 780px) {
    .other-locations h3 b {
        font-size: 20px;
    }
    .other-locations h3 {
        font-size: 20px;
    }
    .footer-cc-icons {
        text-align: center;
        margin: 0 auto;
        float: none;
    }
   
}

@media (max-width: 991px) {
    .booking__confirmed {
        display: none !important;
    }
    #previous-button {
        left: 0 !important;
    }

    #next-button {
        right: 0 !important;
    }
} 