.sticky-map {
    position: fixed !important;
    top: 64px;
    width: 730px !important;
    z-index: 1000;
}

.location__description button {
    padding: 3px 15px;
}

.row.location__description {
    margin-top: 20px !important;
}


.gallery-p {
    height: 40px !important;
}
#currencies {
    background-size: 10px;
}

.property-images a .gallery-p {
    bottom: 0px !important;
    display: flex;
    align-items: center;
}

.property-images a .gallery-p img {
    margin-right: 5px;
}

.bestValueHeading {
    margin: 40px 0px 60px 0px !important;
}

#pills-active::after {
    top: 172px;
}

#pills-active {
    font-size: 18px;
    padding: 20px 30px;
}

#pills-second {
    font-size: 18px;
    padding: 20px 30px;
}

.margin-y-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#pills-active.changed::after {
    top: 173px;
}

#pills-home h5 {
    font-size: 20px;
}

#pills h5 {
    font-size: 20px;
}

.pills__apartment--name {
    font-size: 16px !important;
}

.facilities__margin {
    margin-top: 60px !important;
}

.facilities__list--inline li {
    list-style-type: square;
    margin-top: 10px;
}

.facilities__list--inline li img {
    margin-right: 10px;
}

.facilities__list--inline {
    margin-top: -10px;
}

.unavailable-aps .property-images .gallery-p {
    height: 29px !important;
    bottom: -20px !important;
}

.pencil {
    width: 16px !important;
    height: 16px;
}

.bg__beds {
    margin-top: 30px !important;
}

.extra__box {
    padding: 40px;
}

.mt-3.d-none.d-lg-initial.font-15 {
    line-height: 24px;
}

#next-button {
    right: 280px !important;
}

#previous-button {
    left: 280px !important;
}

.baguetteBox-button#close-button {
    top: 40px;
    right: 2%;
    right: calc(18% + 6px);
    width: 30px;
    height: 30px;
}

#searchModal select {
    background-size: 10px;
}

.search__nights {
    margin-left: 35px;
    font-style: italic;
}

#searchModal .form-control {
    height: 40px;
}
input, select, textarea {
    box-shadow: none !important;
}


.search__modal--content .apartment__booking--button {
    height: 40px;
}

.m-city:hover, .sc-subnav-items:hover {
    color: black !important;
}
.slick-arrow {
    z-index: 1;
}

.calendar-booking-button {
    margin-top: 0px !important;
}

.no-overflow {
    overflow: hidden;
}

.booked .your-booking::after {
    top: 240px;
}

#extras .gallery-p {
    height: 29px !important;
    bottom: -5px !important;
}

[type="date"] {
    background:#fff url(../img/icon-datepicker.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

#baguetteBox-overlay .full-image figcaption {
    top: 140px;
    width: 65.5%;
    height: 50px;
    margin: 0 17.3%;
    background: none;
}

.reserv p {
    font-size: 14px;
}

.booking__confirmed {
    padding: 10px 0 !important;
}

.booking-bg h4 {
    font-size: 13px;
    color: #77787c;
}

.booking-bg h4 b {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.panel-title a span {
    font-weight: 400;
}

.btn-no-available {
    width: 70% !important;
    margin: 0 auto;
}


#extras .panel-title a:hover  {
    text-decoration: none;
}

.absolute-map  {
    position: absolute;
    top: 1570px !important;
    overflow: hidden;
}

.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
  }
  /* The bubble is anchored above the tip. */
  .popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
  }
  /* Draw the tip. */
  .popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: /* TIP_HEIGHT= */ 8px solid white;
  }
  /* The popup bubble itself. */
  .popup-bubble-content {
    margin-top: 2px !important; 
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    background-color: white;
    font-family: sans-serif;
    overflow-y: auto;
  }
  
  .popup-bubble-content h5 {
      padding: 0 10px;
  }

  .popup-bubble-content span {
    padding-left: 10px;
   }
    .popup-bubble-content p {
        padding-left: 10px;
    }
    .my-booking-button {
        height: 45px;
        margin-top: 1px;
    }
#signup .agree-font span.d-none {
    margin-left: 37px;
}

.map-button-no {
    width: 90% !important;
    background: #cbcbcb;
    white-space: normal;
    font-size: 15px;
    color: black;
    padding: 10px 0;
}

.map-button {
    width: 90% !important;
    background: #f0ab00;
    white-space: normal;
    font-size: 15px;
    color: black;
    padding: 10px 0;
}

.map-btn-div {
    margin: 0 auto;
    text-align: center;
}

 #baguetteBox-overlay{display:none;opacity:0;position:fixed;overflow:visible;top:0;left:0;width:100%;height:100%;z-index:1000000;background-color:#222;background-color:rgba(0,0,0,.8);-webkit-transition:opacity .5s ease;transition:opacity .5s ease}#baguetteBox-overlay.visible{opacity:1}#baguetteBox-overlay .full-image{display:inline-block;position:relative;width:100%;height:100%;text-align:center}#baguetteBox-overlay .full-image figure{display:inline;margin:0;height:100%}#baguetteBox-overlay .full-image img{display:inline-block;width:100%;height:auto;max-width:960px;vertical-align:middle;-moz-box-shadow:0 0 8px rgba(0,0,0,.6);box-shadow:0 0 8px rgba(0,0,0,.6)}#baguetteBox-overlay .full-image:before{content:"";display:inline-block;height:50%;width:1px;margin-right:-1px}#baguetteBox-slider{position:absolute;left:0;top:0;height:100%;width:100%;white-space:nowrap;-webkit-transition:left .4s ease,-webkit-transform .4s ease;transition:left .4s ease,-webkit-transform .4s ease;transition:left .4s ease,transform .4s ease;transition:left .4s ease,transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease}#baguetteBox-slider.bounce-from-right{-webkit-animation:bounceFromRight .4s ease-out;animation:bounceFromRight .4s ease-out}#baguetteBox-slider.bounce-from-left{-webkit-animation:bounceFromLeft .4s ease-out;animation:bounceFromLeft .4s ease-out}@-webkit-keyframes bounceFromRight{0%,100%{margin-left:0}50%{margin-left:-30px}}@keyframes bounceFromRight{0%,100%{margin-left:0}50%{margin-left:-30px}}@-webkit-keyframes bounceFromLeft{0%,100%{margin-left:0}50%{margin-left:30px}}@keyframes bounceFromLeft{0%,100%{margin-left:0}50%{margin-left:30px}}.baguetteBox-button#next-button,.baguetteBox-button#previous-button{top:50%;top:calc(50% - 30px);width:44px;height:60px}.baguetteBox-button{position:absolute;cursor:pointer;outline:0;padding:0;margin:0;border:0;-moz-border-radius:15%;border-radius:15%;background-color:#323232;background-color:rgba(50,50,50,.5);color:#ddd;font:1.6em sans-serif;-webkit-transition:background-color .4s ease;transition:background-color .4s ease}.baguetteBox-button:focus,.baguetteBox-button:hover{background-color:rgba(50,50,50,.9)}.baguetteBox-button#next-button{right:2%}.baguetteBox-button#previous-button{left:2%}.baguetteBox-button#close-button{top:20px;right:2%;right:calc(2% + 6px);width:30px;height:30px}.baguetteBox-button svg{position:absolute;left:0;top:0}.baguetteBox-spinner{width:40px;height:40px;display:inline-block;position:absolute;top:50%;left:50%;margin-top:-20px;margin-left:-20px}.baguetteBox-double-bounce1,.baguetteBox-double-bounce2{width:100%;height:100%;-moz-border-radius:50%;border-radius:50%;background-color:#fff;opacity:.6;position:absolute;top:0;left:0;-webkit-animation:bounce 2s infinite ease-in-out;animation:bounce 2s infinite ease-in-out}.baguetteBox-double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes bounce{0%,100%{-webkit-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes bounce{0%,100%{-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0)}50%{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1)}}