


.no-pads, nav ul {
    margin: 0;
}
p {
    margin: 5px 0;
}
ul {
    padding-left: 10px;
}
footer {
    background-color: #ddd;
    padding: 30px 0;
}
img {
    max-width: 100%}
small {
    font-size: .75em;
}
.goes-left {
    float: left;
}
.goes-right {
    float: right;
}
.half-w.sc-property-details.text-first, nav select {
    float: left;
}
.no-scrolls {
    overflow-y: hidden;
}
.let-it-scrolls {
    overflow-y: visible;
}
.home-row, .sc-img-100pct, section.sc-navigation {
    width: 100%}
.sc-booking-bar, .sc-city-dropdown {
    width: auto;
}
.nav-logo, .sc-booking-bar, button.js-fr-dialogmodal-close {
    position: absolute;
}
nav select {
    height: 30px;
    font-size: .85em;
    background-color: rgba(0, 0, 0, .75);
    color: #eee;
}
nav select option, ul.sc-subnav-items li:focus a, ul.sc-subnav-items li:hover a {
    color: #000;
}

.sc-foot, .sc-max-home, .sc-news-signup {
    max-width: 1080px;
}
.sc-img-2-grid {
    max-width: 48%}
.flatpickr-chkin .flatpickr-rContainer, .text-left {
    text-align: left;
}
.flatpickr-chkout .flatpickr-rContainer, .text-right, nav {
    text-align: right;
}
.has-border {
    border-bottom: 1px solid #ccc;
}
.sc-hidden {
    display: none;
}
.sc-show {
    display: block;
}
section.sc-navigation {
    z-index: 999;
    top: 0;
    background-color: rgba(0, 0, 0, .45);
}
nav {
    max-width: 1200px;
    padding: 10px 3px;
}
nav ul {
    overflow: visible;
}
nav li {
    display: inline-block;
}
.nav-first {
    border-left: 0 !important;
}

.hamicon {
    border: 0 !important;
}

nav a, nav span.w-sub {
    border-left: 1px solid #eee;
    margin-left: -5px;
    text-decoration: none;
    padding: 2px 10px;
    font-size: .85em;
    line-height: 1.4em;
    cursor: pointer;
}
nav span.w-sub:focus {
    background-color: rgba(0, 0, 0, .8);
    padding: 17px 10px;
    border-left: 1px solid transparent;
    pointer-events: none;
}
nav span.t-list::after {
    content: " \25BE"}
nav span img {
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 10px;
}
nav a img:after {
    content: 'More'}
.nav-logo {
    top: 0;
    left: 0;
    display: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}
ul.sc-subnav-items {
    position: absolute;
    text-align: left;
    padding: 15px 0;
    margin-left: -6px;
    background-color: rgba(0, 0, 0, .75);
    margin-top: 12px;
    pointer-events: all;
}
nav ul.sc-subnav-items:nth-child(2) {
    margin-top: 10px;
}
ul.sc-subnav-items li {
    font-size: 1.1em;
    display: block;
    overflow: hidden;
}
ul.sc-subnav-items {
    display: none;
}
ul.sc-subnav-items a {
    border: none;
    display: inline-block;
    padding: 5px 30px;
    margin-left: 0;
    font-size: .9em;
    width: 100%;
    overflow: hidden;
}
.nav-res-number, li.nav-lg {
    display: none;
}

ul.sc-subnav-items li:focus, ul.sc-subnav-items li:hover {
    background-color: #fff;
}
ul.sc-subnav-items a.m-city {
    padding-left: 15px;
}
a.m-city img {
    margin: 0;
    vertical-align: text-bottom;
}
.phone-reservations {
    position: fixed;
    bottom: 30px;
    right: -1px;
    background-color: #f0ab00;
    border: 1px solid #fff;
    box-shadow: 1px 2px 5px #555;
    height: 40px;
    overflow: hidden;
}
.phone-reservations a {
    padding: 4px;
}
.sc-subnav-items li.nav-sm, span.w-sub:focus ul.sc-subnav-items, ul.sc-subnav-items:focus {
    display: block;
}
ul.sc-subnav-items li.nav-languages:hover {
    background-color: initial;
}
li.nav-languages a:hover {
    background-color: #fff;
}
li.nav-languages small {
    cursor: initial;
    padding: 4px 15px;
}
.book-modal-check-rates-btn, .sc-btn-primary, .sc-max-home .sc-btn-default, .sc-max-home section.home-row, .sc-property-list .sc-btn-default, button.js-fr-dialogmodal-close:hover, h1.blg-feed-header, h1.sc-max {
    background-color: #111;
}
.book-modal-check-rates-btn, .sc-max-home section.home-row, .sc-news-signup, button.js-fr-dialogmodal-close:hover, h1.sc-max, nav a, nav span.w-sub {
    color: #fff;
}
.sc-news-signup {
    background-color: #bbbdc0;
}
.sc-news-signup span {
    color: #000;
}
.sc-btn-default {
    color: #fff;
    border: 1px solid transparent;
}
.sc-btn-secondary {
    background-color: #f0ab00;
    color: #000;
    border: 1px solid transparent;
}
[data-tns-role=controls] {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
[data-controls=prev] {
    position: absolute;
    left: 10px;
}
[data-controls=next] {
    position: absolute;
    right: 10px;
}
.sc-hero-header {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sc-city-dropdown, .sc-foot, .sc-max, .sc-max-home, .sc-news-signup, article, header h1, header h2, nav {
    margin: 0 auto;
}
article p {
    margin-top: 15px;
}
.sc-max, article {
    padding: 15px 8px;
}
article header {
    min-height: auto;
    max-height: auto;
    height: auto;
    display: block;
}
h1.sc-max {
    padding: 8px 0 8px 8px;
}
h1.sc-max.sc-header-bbar {
    font-weight: 400;
    padding: 8px 0;
}
h2.blg-feed-header {
    color: #fff;
    background-color: #111;
    padding: 5px;
}
.sc-hero {
    padding: 0;
    overflow: visible;
}
.sc-hero-row {
    overflow: visible;
    position: relative;
    z-index: 5;
}
.sc-hero-row header {
    overflow: visible;
    margin-top: -15px;
}
.sc-home-select {
    max-width: 280px;
    color: #000;
}
.location-icon {
    vertical-align: text-top;
}
.home-grid-content, .home-grid-img, .sc-exp-content {
    vertical-align: middle;
}
.home-location {
    width: 20%;
    float: left;
    position: relative;
    padding: 0;
    margin: -3px 0 0;
    overflow: hidden;
}
.home-row-locations a .home-location img {
    margin-left: 4px;
}
.home-location p {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2.6vw;
    margin: 0;
    line-height: 1em;
}
.home-row-locations {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
.sc-select-placeholder {
    max-width: 280px;
    height: 40px;
    position: relative;
    margin: -40px auto 0;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    pointer-events: none;
    box-shadow: 0 0 2px 2px #f0ab00;
}
.sc-select-placeholder p {
    text-align: left;
    padding: 2px 10px 5px;
    white-space: nowrap;
}
.sc-select-placeholder span {
    position: absolute;
    top: 8px;
    right: 10px;
}
.sc-select-your-city .submit-city {
    padding: 10px 15px;
}
.hgroup {
    top: 190px;
    overflow: initial;
    text-align: center;
}
.hgroup button {
    padding: 8px 25px;
    background-color: #fff;
    min-width: 240px;
    font-size: 1.2em;
}
.hero-rate {
    left: 2%;
    text-align: left;
    text-shadow: 0 1px 0 #444;
}
.home-grid-content, .home-grid-img {
    display: table-cell;
    width: 48.999999%;
    max-height: 500px;
}
.home-grid-content {
    padding: 0 6.5%;
    min-width: 310px;
    overflow: hidden;
}
.home-grid-content button {
    margin-top: 15px;
    text-align: left;
    min-width: 270px;
}
.home-grid-content .sc-btn-secondary {
    color: #000;
}
.hero-tagline {
    background-color: #111;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 25px 5px 30px;
    text-align: center;
}
.sc-header-bbar {
    overflow: visible;
}
.sc-exp-content-block, .wilde-banner {
    overflow: hidden;
}
.hero-tagline h2 {
    margin: 0 auto;
}
.property-tagline h2 {
    font-size: 1.9em;
    line-height: 1.15em;
}
.sc-booking-bar {
    top: 15%;
    left: 50%}
.sc-city-dropdown {
    left: -50%;
    z-index: 100;
}
.sc-city-dropdown-option {
    background-color: #fff;
}
.sc-city-dropdown-option li {
    padding: 8px 4px;
}
.sc-img-with-caption .p-caption {
    background-color: rgba(255, 255, 255, .7);
    margin-top: -65px;
    padding: 10px;
}
.sc-property-list, .sc-yellow-bg {
    background-color: #f0ab00;
}
.sc-gm-profile-img {
    width: 20%;
    min-width: 120px;
    max-width: 165px;
    margin-right: 12px;
}
.number-lg-font {
    font-size: 1.65em;
    font-weight: 700;
}
.sc-property-list {
    border-bottom: 5px solid #fff;
}
.sc-property-directions ul li.list-item-column:first-child, .sc-property-facilities ul li.list-item-column:first-child {
    font-family: 'Gotham Medium', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 5px 2px;
}
.sc-property-details h2 {
    font-size: 1.35em;
}
.sc-property-details p {
    padding-top: 0;
}
span.prop-availability {
    font-weight: 700;
    color: #fff;
    background-color: #e82a2a;
    padding: 5px;
    font-size: .85em;
}
.sc-property-list.wilde-list {
    background-color: #000;
}
.sc-property-details.wilde-details {
    color: #fff;
}
.wilde-details button.book-change-dates {
    background-color: transparent;
}
.hero-tagline.wilde-tagline, .wilde-details button.sc-btn.sc-btn-default, h1.sc-header-bbar.wilde-header {
    background-color: #00b18e;
}
.sc-header-bbar.wilde-header:after, .sc-header-bbar.wilde-tagline:after {
    color: #00b18e!important;
}
.wilde-details h2 {
    color: #00b18e;
}
a.wilde-hero-button, button.wilde-hero-button {
    background-color: #00b18e!important;
    color: #fff;
}
button.wilde-button {
    width: 80px!important;
    height: 80px!important;
    border-radius: 50%!important;
    text-align: center!important;
    padding: 0!important;
}
.sc-property-list .gallery span.map-flag {
    position: absolute;
    right: 0;
    top: 0;
    width: 41px;
    height: 63px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}
.wilde-banner {
    border-bottom: 4px solid #fff;
}
.wilde-banner h2 {
    background-color: transparent!important;
    margin-top: -90px!important;
}
.project-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    clear: both;
}
.project-video-container embed, .project-video-container iframe, .project-video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%}
.sc-exp-content {
    background-color: #000;
    color: #fff;
    text-transform: initial!important;
}
.sc-exp-content h2 {
    padding: 5px 15px!important;
    margin: 0!important;
}
.sc-exp-content p {
    padding: 0 15px!important;
    margin: 0!important;
}
.sc-exp-image {
    background-repeat: no-repeat;
    height: 220px;
    display: block;
    border-top: 4px solid #fff;
}
button.book-change-dates {
    padding-left: 5px;
    margin-left: 8px;
}
.available-tag {
    margin: 0!important;
}
span.map-count {
    position: relative;
    top: 20px;
}
.sc-city-exp p:first-of-type {
    margin: 0;
}
.gallery img {
    width: 100%;
    box-shadow: 0 1px 3px #888;
}
.sc-property-list .gallery img {
    min-width: 100%;
    height: 100%}
article.sc-house-rules {
    background-color: #eee;
    margin-top: 15px;
}
article.sc-house-rules, div.handorgeldirections, div.handorgelfaq {
    box-shadow: 0 2px 2px #ccc;
}
.sc-house-rules ul {
    padding-left: 0;
    font-size: .85em;
    line-height: 1.75em;
    column-count: 2;
}
li.list-item-column {
    margin-bottom: 5px;
    display: inline-block;
    width: 100%}
.sc-property-directions ul li.list-item-column:not(:first-child):before, .sc-property-facilities ul li.list-item-column:not(:first-child):before, ul li.list-item-column:before {
    content: "✓ ";
    color: #f0ab00;
    font-weight: 700;
}
.sc-property-directions ul li.list-item-column:first-child:before, .sc-property-facilities ul li.list-item-column:first-child:before {
    content: ""}
.sc-property-directions, .sc-property-facilities {
    display: inline-block;
    font-size: .85em;
    line-height: 1.25em;
    padding-top: 0;
}
.sc-property-facilities {
    column-count: 2;
}
.sc-property-directions {
    column-count: 1;
}
h3.head-align {
    padding-left: 5px;
}
.sc-property-facilities ul {
    display: inline-block;
    padding-left: 0;
}
.sc-property-directions ul {
    display: inline-block;
    padding-left: 5px;
}
section.sc-faq {
    font-size: .85em;
}
.sc-faq button {
    white-space: inherit;
    text-transform: inherit;
}
.handorgel__header--open .handorgel__header__button {
    background-color: #f0ab00;
    font-weight: 700;
}
.property-notes {
    line-height: 1.55em;
}
.error-avail, .limited-avail {
    font-size: .5em;
    color: #fff;
    padding: 3px 6px;
    vertical-align: middle;
}
.limited-avail {
    background-color: red;
}
.error-avail {
    background: #000;
}
.wilde-details .error-avail {
    background-color: #00b18e;
}
article.sc-property-list p.gallery-p img {
    width: 16px!important;
    height: 14px!important;
    min-width: 16px!important;
}
.main-content h2 {
    background-color: #f0ab00;
    padding: 5px 10px;
}
.main-content h3, .main-content h4, .main-content h5 {
    padding: 5px 12px;
}
header.entry-header {
    background-color: transparent;
}
h2.entry-title a {
    color: #000;
    line-height: 1.5em;
    text-decoration: none;
}
h2.entry-title a:focus, h2.entry-title a:hover {
    text-decoration: underline;
    color: #f0ab00;
}
.footer-listing-links li a, .footer-listing-locations li a, .gallery a, .sc-pr-btn a, .sc-pr-latest li a {
    text-decoration: none;
}
main article.post:first-child h2 a {
    font-size: 1.6em;
}
main article.post h2 a {
    font-size: 1em;
}
main article.post {
    width: auto;
    float: none;
}
.entry-content p {
    margin: 15px 0 0;
}
main article.post img {
    margin-left: -8px;
}
.blg-feed-img {
    float: left;
    clear: left;
}
.sc-copyr, .sc-ta-sub-ratings, ul.footer-listing-links:nth-child(1) {
    clear: both;
}
.blg-feed-content {
    float: left;
}
.blg-feed-content p {
    color: #000;
    margin: 0;
}
.sc-pr-date {
    color: #555;
}
.sc-pr-btn {
    overflow: initial;
}
div.gallery, main.sc-max {
    overflow: hidden;
}
.sc-pr-btn a {
    padding: 5px 10px;
    color: #f4f4f4;
    background-color: #191919;
}
aside.sc-pr-latest {
    margin-top: 30px;
    background-color: #eee;
}
h3.sc-pr-latest-header {
    background-color: #111;
    color: #fff;
    padding: 5px;
    margin-top: 0;
}
.sc-pr-latest li {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.sc-pr-latest li::before {
    content: "\27A4 ";
    margin-right: 5px;
    float: left;
}
.sc-pr-latest li a {
    text-transform: uppercase;
    width: 85%;
    padding: 0 5px;
    display: inline-block;
}
.sc-pr-latest li a:hover {
    background-color: #bbb;
}
div.gallery {
    display: table;
}
div.gallery-all.gallery {
    margin-top: 50px;
}
.sc-property-list .gallery a {
    display: block;
    margin-bottom: -5px;
}
.credit-card-icon, a.footer-social-icon, span.lock-icon {
    display: inline-block;
}
.gallery-p {
    position: relative;
    margin-top: -39px!important;
    margin-left: 0!important;
    padding: 4px 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .45);
    color: #fff;
}
.sc-exp, .sc-exp-row {
    background-color: #111;
}
.full-image figcaption {
    font-family: inherit;
    color: #fff;
    padding: 10px 2px;
}
p.sc-lightbox-all {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 190px;
    text-align: right;
    margin-right: 0;
}
p.sc-lightbox-all img {
    width: 16px;
    height: 14px;
    box-shadow: none;
}
.expandable-content {
    height: 0;
}
.sc-exp {
    color: #fff;
}
.sc-exp-ylw, .sc-exp-ylw-row {
    background-color: #f0ab00;
}
.sc-exp ul {
    margin-top: 0;
}
.sc-exp-ylw {
    color: #000;
}
.expandable-content.active {
    height: auto;
    transition: transform .8s ease-in-out;
    -webkit-transition: transform .8s ease-in-out;
    background-color: #eee;
    border: 1px dotted #bbb;
}
.sc-foot {
    font-size: .8em;
}
.footer-cc-icons a {
    margin-left: 5px;
    margin-right: 5px;
}
.footer-cc-icons a:first-child {
    margin-left: 0;
}
.footer-social-icon {
    width: 32px;
    height: 32px;
}
ul.footer-listing-locations {
    width: 100%;
    overflow: visible;
    margin-top: 0;
}
.footer-listing-locations li {
    list-style: none;
    float: left;
    width: 18.5%}
ul.footer-listing-links {
    float: left;
    width: 48%;
    list-style: none;
    margin-top: 35px;
    margin-bottom: 25px;
}
.property-map {
    height: 350px;
    width: 100%;
    display: none;
    max-width: 960px;
    margin: 0 auto 25px;
}
.gm-style {
    overflow: visible;
}
.img100 {
    width: 100%;
    height: 100%}
.img50 {
    width: 49%;
    height: 100%}
.img50l, .img50r {
    margin: initial;
    float: none;
    width: 100%;
    height: auto;
}
.sc-max.sc-review-score {
    font-family: arial;
    font-size: .9em;
    margin-bottom: 25px;
}
.sc-ta-ranking {
    width: 65%;
    float: left;
}
.sc-ta-awards {
    width: 30%;
    float: left;
    display: block;
    margin-right: 10px;
    max-width: 95px;
    min-width: 90px;
}
.sc-ta-sub-ratings {
    display: block;
    margin-left: 15px;
}
.ta-reviews-header-block {
    background-color: #f0ab00;
    color: #fff;
    padding: 5px;
}
.ta-reviews-header-block h1 {
    margin-top: 0;
    font-size: 1em;
    width: 85%}
.sc-ta-review-content {
    clear: both;
    width: 100%}
.sc-ta-reviewer {
    float: left;
    width: 20%;
    text-align: center;
}
span.ta-user-avatar, span.ta-user-avatar img {
    display: block;
    width: 100%}
span.ta-user-avatar {
    max-width: 80px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}
#contact-arcadian-centre.property-contact-deets, #contact-centre-vieux-port.property-contact-deets, #contact-chancery-lane.property-contact-deets, #contact-christchurch.property-contact-deets, #contact-corn-exchange.property-contact-deets, #contact-deptford-bridge-station.property-contact-deets, #contact-duke-street.property-contact-deets, #contact-gare-de-l-est.property-contact-deets, #contact-greenwich-high-road.property-contact-deets, #contact-heathrow.property-contact-deets, #contact-laystall-street.property-contact-deets, #contact-londonwilde-the-strand.property-contact-deets, #contact-millennium-walk.property-contact-deets, #contact-newhall-square.property-contact-deets, #contact-paragon-street.property-contact-deets, #contact-piccadilly.property-contact-deets, #contact-rue-garibaldi.property-contact-deets, #contact-saint-augustine-street.property-contact-deets, #contact-west-end.property-contact-deets, #contact-wilde-the-strand.property-contact-deets, form.wpcf7-form.sent {
    display: none;
}
.ta-reviews-container {
    background-color: #f4f4f4;
    max-height: 660px;
    -webkit-transition: max-height .6s;
    -moz-transition: max-height .6s;
    -ms-transition: max-height .6s;
    -o-transition: max-height .6s;
    transition: max-height .6s;
    font-family: Arial, sans-serif;
}
.sc-review-score p {
    color: #000a12;
}
.sc-ta-comment {
    float: left;
    width: 78%}
p.sc-ta-comment-text {
    padding-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    font-size: .85em;
}
span.ta-cat-score {
    width: initial;
}
.contact-cities {
    max-width: 420px;
    background-color: #f0ab00;
    font-weight: 700;
    margin-top: 15px;
}
.contact-page-form {
    position: relative;
    margin: 0 auto;
    max-width: 640px;
}
.contact-page-form textarea {
    height: 140px;
}
.contact-page-form input[type=submit] {
    padding: 10px 40px;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.wilde-landing-hero-tagline h1:after, p.wilde-call:after {
    content: "";
    display: block;
    height: 2px;
}
form.wpcf7 .screen-reader-response {
    padding: 80px 0;
}
.wilde-landing-hero-tagline {
    background-color: #fff;
    width: 80%;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    left: -50vw;
    right: -50vw;
}
.wilde-landing-hero-tagline h1 {
    text-transform: uppercase;
    text-shadow: none;
    font-size: 1.1em;
    color: #000;
    font-weight: 700;
}
.wilde-landing-hero-tagline h1:after {
    width: 70px;
    background-color: #000;
    text-align: center;
    position: absolute;
    left: -50vw;
    right: -50vw;
    top: 50px;
    overflow: visible;
    margin: 0 auto;
}
.wilde-landing-hero-tagline h2 {
    color: #000;
    font-size: 2.3em;
    font-weight: 700;
    padding: 15px 2px;
}
.wilde-customizable, .wilde-full, .wilde-modular, .wilde-storage, .wilde-stylish {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin-top: 25px;
    padding: 15px 0;
}
p.wilde-call {
    color: #555;
}
p.wilde-call:after {
    width: 40px;
    background-color: #00b18e;
    bottom: 0;
}
.wilde-full {
    background-image: url(/staycity2017/images/wilde-landing/assets/wilde-card-envelope.jpg);
    width: 100%;
    height: 60vh;
    max-height: 520px;
}
.wilde-full aside {
    position: absolute;
    color: #fff;
}
.wilde-full h2 {
    text-transform: none;
}
.wilde-full .cta-float {
    position: absolute;
}
.cta-float button.wilde-button {
    width: 150px!important;
    height: 150px!important;
    font-size: 1.75em;
}
.wilde-customizable, .wilde-modular, .wilde-storage, .wilde-stylish {
    width: 100%;
    height: 325px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.wilde-customizable p, .wilde-modular p, .wilde-storage p, .wilde-stylish p {
    padding: 2px 8%}
.wilde-customizable aside, .wilde-modular aside, .wilde-storage aside, .wilde-stylish aside {
    position: absolute;
    bottom: 0;
    padding: 25px 0 15px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    width: 100%}
.wilde-modular {
    background-image: url(/staycity2017/images/wilde-landing/assets/adjustable-modular-table.jpg);
    width: 100%}
.wilde-customizable {
    background-image: url(/staycity2017/images/wilde-landing/assets/customizable-book-shelf.jpg);
    width: 49%;
    float: left;
}
.wilde-storage {
    background-image: url(/staycity2017/images/wilde-landing/assets/practical-storage-space.jpg);
    width: 49%;
    float: left;
    margin-bottom: 15px;
    margin-left: 1.5%}
.wilde-stylish {
    background-image: url(/staycity2017/images/wilde-landing/assets/kitchenette-microwave-juicer-sink-plates.jpg);
    width: 100%;
    margin-top: 15px;
}
.col-4-wilde img {
    max-width: 370px;
    width: 100%}
.wcb-content-block {
    overflow: hidden;
    margin-top: 10px;
    padding: 0 8px;
}
.wcb-l, .wcb-r {
    background-color: #000;
    color: #fff;
    padding: 15px 8px;
}
.wcb-lg-only, .wcb-sm-none {
    display: none;
}
div.wilde-content {
    padding: 15px 5vw;
}
div.wilde-content p {
    line-height: 1.45em;
}
div.wilde-content h3 {
    font-weight: 700;
    font-size: 1.75em;
}
.wcb-images-l img:nth-child(2), .wcb-images-r img:nth-child(2) {
    padding-top: 8px;
}
.wilde-content-callout button {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    margin-top: 30px;
}
.text-second {
    display: none!important;
}
.half-w.property-images.gallery {
    right: 0;
}
@media (min-width:491px) {
    .show-mob {
    display: none;
}
.fr-dialogmodal-modal form {
    padding: 20px 10%}
}@media (min-width:610px) {
    .sc-exp-content-image, .sc-property-list .gallery a: first-child {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sc-exp-content-block, .sc-property-list {
    display: table;
    table-layout: fixed;
}
.sc-exp-content {
    border-top: 4px solid #fff;
}
.img50l, .img50r {
    width: 50%;
    height: auto;
}
.img50l {
    margin-right: 15px;
    float: left;
}
.img50r {
    margin-left: 15px;
    float: right;
}
.property-table-row {
    display: table-row;
    width: 100%;
    position: relative;
}
.property-table-row .sc-exp-content, .property-table-row .sc-property-details {
    display: table-cell;
    padding: 15px 0;
    text-transform: uppercase;
}
.property-table-row .property-images, .property-table-row .sc-exp-image {
    display: table-cell;
}
.property-table-row .property-images {
    position: absolute;
}
.property-table-row .sc-exp-image {
    position: relative;
}
div.gallery {
    display: block;

    height: 100%;
    top: 0;
}
.sc-property-list .gallery a:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
}
.benefits-list {
    column-count: 2;
}
.gallery-p {
    bottom: -12px;
}
article.sc-exp-content-block, article.sc-property-list {
    overflow: hidden;
    width: 100%;
    min-height: 235px;
}
.sc-property-details h2, .sc-property-details p {
    padding-right: 15px;
    padding-left: 15px;
}
.sc-property-list {
    padding: 0;
}
.sc-property-facilities ul {
    padding-left: 5px;
}
.sc-property-directions ul, h3.head-align {
    padding-left: 10px;
}
.property-book-now-btn {
    position: absolute;
    bottom: 15px;
}
.col-4-wilde {
    width: 50%}
}@media (min-width:551px) {
    .half-w {
    width: 50%}
.sc-ta-ranking {
    width: 50%;
    float: left;
}
.sc-ta-awards {
    margin-right: 20px;
}
.sc-ta-sub-ratings {
    margin-left: 25px;
    clear: none;
}
.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
    width: 100%;
    top: 10%}
.mobile-header {
    display: none;
}
div.gallery-all.gallery {
    display: block;
    margin-top: 40px;
    position: static;
}
.sc-property-list div.gallery {
    margin-right: -1px;
}
.gallery img {
    width: 100%}
.sc-news-signup button {
    height: 40px;
    width: 22.99999999%;
    margin-top: -3px;
    right: 5px;
    display: inline-block;
}
.col-4-wilde {
    width: 48.888889%;
    float: left;
    padding-right: 10px;
}
.wilde-wrapper .col-4-wilde:nth-child(even) {
    padding-right: 0;
}
.wcb-l, .wcb-r {
    position: absolute;
    height: 100%;
    max-height: 510px;
    padding: 15px 0;
}
.wilde-full aside {
    top: 20px;
    left: 35px;
}
.wilde-full .cta-float {
    top: 50px;
    right: 100px;
}
.wcb-l {
    float: left;
    width: 48.333333%;
    border-right: 3px solid #fff;
}
.wcb-r {
    float: right;
    width: 47.888888%;
    border-left: 3px solid #fff;
    left: 50.5%}
.wcb-images-r {
    float: right;
    width: 50%}
.wcb-images-l {
    float: left;
    width: 50%}
.wcb-sm-none {
    display: block;
}
}@media (min-width:651px) {
    .home-row {
    max-height: 500px;
    overflow-y: hidden;
    border-bottom: 5px solid #fff;
}
.home-location p {
    font-size: 2.3vw;
}
.home-grid-img img {
    min-width: 100%;
    height: 500px;
    max-width: 300%}
.home-row-locations a:nth-child(5n+1) .home-location img {
    margin-left: 0;
}
.prop-deets {
    padding-left: 15px;
}
article.sc-property-list p {
    margin: 15px 0 5px;
}
.sc-property-facilities {
    column-count: 3;
}
.sc-property-directions {
    column-count: 2;
    position: relative;
}
.sc-home-body-img {
    display: none;
}

}@media (min-width:768px) {
    section.sc-navigation {
    background-color: rgba(0, 0, 0, .45);
}
.phone-reservations {
    display: none;
}
.nav-res-number {
    display: block;
    text-align: left;
    float: left;
    color: #fff;
    margin-top: -5px;
}
.nav-res-number small {
    font-size: 65%}
.res-info, .res-symbol {
    display: inline-block;
}
.res-symbol img {
    vertical-align: text-bottom;
    margin: 0;
}
.wilde-banner h2 {
    margin-top: -150px!important;
    font-size: 2.15em;
}
.hgroup {
    top: 290px;
}
header h1 {
    font-size: 3.6em;
}
.header-logo {
    position: absolute;
    margin-top: 15px;
    max-width: 1200px;
    top: 55px;
    left: 0;
}
.header-logo.light {
    display: none;
}
.header-logo.dark {
    display: block;
}
.sm-btn-message {
    display: none;
}
.lg-btn-message {
    display: block;
}
.sc-home-select, .sc-select-placeholder {
    max-width: 330px;
}
.two-third-w {
    width: 59.88888889%}
.one-third-w {
    width: 36.88888889%}
.half-2third-w, .half-third-w {
    width: 48%}
.goes-right-lg, .goes-right-lg-md {
    float: right;
}
.goes-left-lg, .goes-left-lg-md {
    float: left;
}
.footer-social-icons {
    width: 64%}
.footer-cc-icons {
    width: 32%}
.img-grid-x-2 img {
    max-width: 100%}
.two-col-left {
    width: 70%}
.two-col-right {
    width: .8888888889%;
    margin-left: 15px;
}
ul.sc-subnav-items {
    max-height: 90vh;
    overflow: auto;
    min-width: 28%}
nav ul.sc-subnav-items:nth-child(2) {
    margin-left: -252px;
    width: 310px;
}
.last-block-nav-lg {
    border-bottom: 2px solid #fff;
    margin-bottom: 15px!important;
}
nav ul.sc-subnav-items:nth-child(2) li a {
    padding: 4px 15px;
    width: 100%}
.col-4-wilde, .wilde-wrapper .col-4-wilde:nth-child(even) {
    padding-right: 10px;
}
li.nav-lg {
    display: inline-block;
}
.sc-subnav-items li.nav-sm, ul.sc-subnav-items li.sc-mob-close {
    display: none;
}
.sc-max-pr {
    width: 63%;
    float: left;
}
aside.sc-pr-latest {
    margin-top: 0;
    width: 30%;
    float: left;
    margin-left: 4%}
.col-4-wilde {
    width: 23.888889%;
    float: left;
}
.wilde-wrapper .col-4-wilde:nth-child(4n) {
    padding-right: 0;
}
.wilde-img-row img {
    width: calc(20% - 3px);
    float: left;
    border-right: 3px solid #fff;
}
.wcb-lg-only {
    display: block;
}
}@media (min-width:820px) {
    .gallery img {
    width: 100%}
}@media (min-width:960px) {
    h2.two-third-w {
    margin: 20px 5px 5px 10px;
}
.two-third-w.sc-property-details {
    margin: 10px;
}
}@media (max-width:490px) {
    .gallery img {
    width: 100%}
}@media (max-width:550px) {
    .sc-property-listing-title .half-w {
    float: none;
}
.fr-dialogmodal--is-ready .fr-dialogmodal-modal {
    width: 96%;
    top: 0;
    border: 2px solid #fff;
}
.hgroup button {
    font-size: 4vw;
}
.desktop-header {
    display: none;
}
.sc-property-details button {
    width: 100%}
.sc-exp h1 {
    margin: 5px 12px;
}
.mobile-header, .property-notes h4, article.sc-contact-content h2, article.sc-contact-content h3, article.sc-exp-ylw h1, main article.post {
    padding: 0 12px;
}
.sc-lighbox-all {
    top: 5px;
}
.sc-property-list .gallery img {
    max-height: 300px;
}
.sc-review-score .sc-btn.sc-btn-default {
    float: right;
}
.available-tag {
    text-align: center;
}
.sc-news-signup button, .sc-news-signup input[type=text] {
    display: block;
    width: 100%}
.contact-page-form h1.sc-max {
    padding-top: 10px;
    padding-bottom: 10px;
}
.sc-ta-review-content {
    margin-bottom: 15px;
    padding-left: 10px;
}
.sc-max.sc-review-score {
    margin-top: 20px;
    padding-top: 15px;
}
.sc-ta-sub-ratings {
    margin-left: 8px;
}
.footer-listing-locations li {
    width: 32%}
ul.footer-listing-links {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}
.wilde-full {
    margin-top: 55px;
    overflow: unset;
}
.wilde-full aside {
    bottom: 15px;
    left: 30px;
}
.wilde-full .cta-float {
    margin: -65px auto 0;
    width: 100%;
    text-align: center;
}

ul.sc-subnav-items {
    width: 100%;
    margin-left: 0;
    left: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 1);
}
ul.sc-subnav-items li {
    width: 100%}
.sc-subnav-items a {
    display: block;
    padding: 5px 10px;
    margin-left: -10px;
}
