@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1110px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 992px) and (max-width: 1120px) {
    .extras__heading {
        font-size: 18px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .apartment__booking p {
        font-size: 12px;
    }
    .agree-font {
        font-size: 11px;
    }
    .apartment__booking p span {
        font-size: 17px !important;
    }
    .other-locations-minus-margin {
        margin-bottom: 5px;
    }
    #signup .agree-font {
        font-size: 12px !important;
    }
    .agree-font-margin {
        font-size: 12px !important;
    }
    .agree-font-margin {
        font-size: 12px !important;
        display: block;
    }
    .topbar-wider {
        width: 960px !important;
    }
    .topbar-small {
        width: 930px !important;
    }
}

@media (min-width: 992px) and (max-width: 1700px) {
    .px-7 {
        padding-left: 3.8rem;
        padding-right: 3.8rem;
    }
    


}

@media (min-width: 992px) and (max-width: 1050px) {
    .steps-cover ul li:nth-child(2) {
        margin-left: 450px;
    }

    .steps-cover ul li:nth-child(3) {
        margin-left: 450px;
    }

    .apartment__booking--button {
        padding-left: 2.4rem !important;
        padding-right: 2.4rem !important;
    }
    .other-locations-padding p {
        text-align: right;
    }
}

@media (min-width: 992px) {
    #calendar {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 576px) {
    .discount__signup--no-margin h2 {
        margin-left: -17px;
    }
    .discount__signup--no-margin .float-lg-right {
        margin-left: -15px;
        margin-right: -15px;
    }
    .width-160 {
        margin-left: 0;
    }
    .col-8.offset-2.offset-lg-0.col-lg-4.text-center.text-lg-left.mt-3-mobile {
        padding: 5px;
    }

    .d-block.d-lg-none.text-center.col-8.offset-2.mt-3-mobile {
        padding: 0px;
    }

    .py-2.width-160 {
        width: 100% !important;
        padding: 5px;
    }

    .col-8.offset-2.col-lg-3.offset-lg-0.text-center.text-lg-left.mt-3-mobile {
        padding: 5px;
    }
    
    .booking__modal--content .modal-body .col-6 {
        padding: 0 5px;;
    }
    .booking__modal--content .modal-body .col-4 {
        padding: 0;
    }
    .booking__modal--content .modal-body .col-8 {
        padding: 0;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .my-booking-button {
        padding: 9px 10px;
    }
    .last-step {
        font-size: 12px;
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .border-payment-1 {
        border: 0 !important;
    } 
    
    
   
    .width-150 {
        width: 100% !important;
    }
    .close b {
        font-size: 14px;
        text-transform: initial;
        font-weight: 500;
    }
    .mobile-modal-header {
        margin-bottom: 10px;
    }
    .reviews__modal--content {
        border-radius: 4px;
    }
}
@media (max-width: 769px) {
    .reviews-arrow::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #f0ab00 transparent transparent transparent;
    }
    .your-booking::after {
        content: "";
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #333333 transparent transparent transparent;
      }

    .parking-arrow::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #f0ab00 transparent transparent transparent;
    }

    .free-arrow::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #f0ab00 transparent transparent transparent;
    }

    .apartment-arrow::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #f0ab00 transparent transparent transparent;
    }

    .extras-arrow::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #f0ab00 transparent transparent transparent;
    }
    .location-arrow::after {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #f0ab00 transparent transparent transparent;
    }
    .calendar-container h2 {
        font-size: 20px;
    }
    .search__modal--content {
        border-radius: 5px;
    }
    .search__modal {
        border-radius: 5px;
    }
    .arrow-big {
        font-size: 2em;
        color: white;
        margin-top: 0px !important;
        margin-right: 10px;
      }
      .location h5 {
          font-size: 16px;
      }
      .row .location__nearby {
          font-size: 14px;
      }
      .location__info--textbox {
        font-size: 14px;
      }
    .apartment {
        text-align: left;
    }
    .calendar-container {
        padding: 0;
    }
    .other-locations {
        padding: 0;
    }
    .other-locations .photos-icon {
        margin-left: 10px;
    }

    #pills-active::after {
        content: "";
        position: absolute;
        top: 176px;
        left: 165px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }

    #pills-active.changed::after {
        content: "";
        position: absolute;
        top: 176px;
        left: 565px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }

    .map-btn .gm-fullscreen-control {
        background: black !important;
        border: 0px !important;
        margin: 10px !important;
        padding: 0px !important;
        position: absolute !important;
        cursor: pointer !important;
        user-select: none !important;
        border-radius: 2px !important;
        height: 40px !important;
        width: 90px !important;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px !important;
        overflow: hidden !important;
        left: 0 !important;
        top: 0 !important;
        color: white;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 2;
    }

    .bg-orange .apartment__booking--button {
        padding: 10px 2rem !important;
        margin-left: 60px !important;
    }
    
    .reviews__modal--content {
        border-radius: 4px;
    }

    .reviews__modal--content .close {
        padding: 25px 20px !important;
    }

    .topbar-wider {
        width: 100% !important;
    }

    .other-locations {
        overflow: hidden;
    }

    .map-btn .gm-fullscreen-control::after {
    content: 'X Close';
    }
    
    .map-btn .gm-fullscreen-control img {
    display: none !important;
    }
    .topbar .container {
        max-width: 100%;
    }
    #pills-tab .nav-item {
        width: 45%;
    }
    #pills-tab {
        margin-bottom: -1px;
    }
    .width-160 {
        margin-left: 0;
    }
    #pills-tab .nav-item:nth-child(2) {
        margin-left: 10%;
    }
    .agree-font {
        font-size: 13px;
    }
    .make-booking-button {
        width: 100% !important;
    }
    .topbar {
        padding: 0px 0;
    }

    .topbar .col-3 {
        padding-left: 0;
        padding-right: 0;
    }
    .bg-image-full {
        background: none;
        background-image: none;
        height: 0;
    }
    .bg-image-extras-full {
        background: none;
        background-image: none;
        height: 0;
    }

    .bg-image-full {
        height: 0;
        padding:0;
        background: black;
    }

    .topbar__date {
        font-size: 12px;
        font-weight: 300;
    }
    .arrival-text {
        font-size: 17px;
    }
    .topbar__people {
        font-size: 14px;
        font-weight: 300;
    }
    .edit-pencil {
        margin-left: -15px;
    }
    .your-booking h3 {
        font-size: 21px;
    }
    .edit-pencil-text {
        font-size: 14px;
    }
    .bg-image-extras-full {
        height: 0;
        padding:0;
        background: black;
    }
    .your-booking-bg {
        margin-top: 40px;
        padding: 0 15px;
        background-clip: content-box;
        margin: 0;
    }
    .your-booking-bg .row {
        padding: 0 10px;
    }
    .sc-navigation {
        background: rgba(0, 0, 0, .9) !important;
    }
    .app .panel-heading {
        background: none !important;
      }
    .your-booking-bg {
        margin: 0;
    }
    .header-fluid {
        display: none !important;
    }
    .other-locations-minus-margin {
        margin-bottom: 6px;
    }
    .other-locations-padding {
        padding-left: 1.5rem!important;
      }
    .mx-15 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .no-margin-top-mobile {
        margin-top: 0px !important;
    }
    .panel-title {
        font-size: 14px;
        margin-top: 0px;
    }
    .no-margin-x-mobile {
        margin-left: 0;
        margin-right: 0;
    }
    .panel-body {
        font-size: 14px;
    }
    .mobile-modal-header {
        margin-bottom: 0 !important;
    }
    .signup__modal {
        padding: 10px;
    }
    .reviews__review:first-child .col-md-10 {
        border: 0;
    }
    hr.mt-10 {
        display: none !important;
    }
    .reviews__review .col-md-10 {
        border: 0;
    }

    .font-20 {
        font-size: 20px;
    }

    .ml-7 {
        margin-left: 2.8rem;
    }
    .footer-cc-icons {
        border: 0;
    }
    li.nav-sm {
        display: inline-block;
    }

    .img-100 {
        width: auto !important;
    }
    .no-border {
        border:0;
    }
    .discount__signup {
        margin: 0 0;
        padding: 8px 10px;
    }
    .signup__modal input {
        margin-bottom: 15px;
    }
    .mt-md-0 {
        margin-top: 0 !important;
    }
    #extras .panel-heading {
        background: #333333 !important;
        padding: 10px 0;
    }
    .tab-content h5 {
        font-size: 16px;
    }
    .border-grey-bottom-mobile {
        border-bottom: 1px #9b9b9b solid;
    }
    .bg-grey-aps h5 {
        font-size: 18px;
    }
    #pills {
        
    }
    .steps-cover ul li {
        display: inline-block;
        margin: 0px 0px;
    }
    .form-check p {
        font-size: 14px;
    }

    .square label {
        margin-top: 28px;
    }
    .round label {
        width: 20px;
        height: 20px;
    }

    .col-4.col-lg-8.text-right.font-300 {
        padding-right: 0 !important;
    }

    .your-booking .panel-body.pb-3 .container {
        padding-left: 5px;
        padding-right: 20px;
    }

    .your-booking-bg .due-mobile {
        font-size: 16px !important;
        font-weight: 700 !important;
        color: black !important;
    }

    .form-check {
        margin: 0;
    }

    .round p {
        margin-left: 10px;
    }

    .agree-font-mobile {
        margin-left: 37px !important;
        margin-top: 0;
    }
    .your-booking-bg h4 {
        font-size: 13px;
        color: #77787c;
    }
    .your-booking-bg h4 b {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }
    #pills-active {
        background: #333333;
        color: white;
        padding: 22px 25px !important;
    }
    #pills-second {
        padding: 25px 11px !important;
    }

    #locationModal .modal-header {
        padding: 0;
    }

    #reviewsModal .modal-header {
        padding: 0;
    }

    .mobile-modal-header {
        text-transform: uppercase;
    }

    .close b {
        font-size: 14px;
        text-transform: initial;
        font-weight: 500;
    }
    .close img {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .modal-header .close {
        padding: 30px 0px;
    }

    .arrow {
        margin-top: 10px;
    }
    .mt-2-mobile {
        margin-top: 1.5rem;
    }
    .mt-3-mobile {
        margin-top: 2rem;
    }
    .mt-md-2 {
        margin-bottom: 20px;
    }
    .mt-md-3 {
        margin-top: 30px;
    }
    .cancelation__modal--image {
        height: 15px;
        width: 15px;
        margin-top: -2px;
    }

    .close-cancellation {
        overflow-y: auto;
    }

    .cancelation__modal--content .modal-header {
        background: #efefef;
    }
    .cancelation__modal--description {
        line-height: 24px;
    }

    .extra__modal--image {
        height: 15px;
        width: 15px;
        margin-top: -2px;
    }

    .close-extra {
        overflow-y: auto;
    }

    .margin-top-20-mobile {
        margin-top: 20px;
    }

    .extra__modal--content .modal-header {
        background: #efefef;
    }
    .extra__modal--description {
        line-height: 24px;
    }

    .extra__modal {
        margin-top: 4rem;
    }

    .img-100 {
        width: 100%;
    }

    .booked .your-booking::after {
        content: "";
        position: absolute;
        top: 225px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #333333 transparent transparent transparent;
    }

    .parking__modal--content .modal-body {
        padding: 0;
    }

    #map-modal {
        margin: 10px;
        width: auto;
        height: 370px;
    }

    .parking__modal--content .modal-header {
        padding: 0 !important;
    }
    .location__info p:first-child {
        margin-top: 0px;
    }

    .grey-bg {
        background: #eff0f2;
        border: 1px solid #cbcbcb;
        padding: 10px 5px;
    }
    .topbar {
        border-top: 0.5px solid rgba(174, 174, 174, 0.5);
    }
   
    .px-6 {
        padding: 10px 2.5rem !important; 
    }
    .px-7 {
        padding: 10px 2.5rem !important; 
    }
    .font-28 {
        font-size: 23px;
    }
    .apartment__booking--big-price {
        font-size: 20px !important; 
    }
    .font-22 {
        font-size: 18px !important;
    }
    .reserv h2 {
        font-size: 20px !important;
    }
    .reserv .col-md-6 {
        padding: 0 10px;;
    }

    .details__head {
        margin-bottom: 0 !important;
        padding: 0 0 !important;
    }

    .form-check {
        padding-left: 0;
    }

    .discount__signup--no-margin {
        margin-top: 30px !important;
        
    }

    .discount__signup--no-margin h2 {
        margin-bottom: 30px !important;
    }
    .extras__heading {
        font-size: 16px !important;
    }
    .arrow {
        margin-top: 5px;
        width: 30px;
        height: 8px;
        margin-right: -5px;
    }

    #locationModal .arrow {
        margin-top: 5px;
        width: 20px;
        height: 8px;
        margin-right: 0px;
    }
    .breakfast__heading {
        font-size: 14px;
    }

    .panel-collapse hr {
        margin: 1.25rem 0;
    }

    .width-100-mobile {
        width: 100% !important;
    }
    .mobile-font-12 {
        font-size: 12px;
    }
    .no-padding-mobile .col-12 {
        padding: 0;
    }

    .add-to-booking {
        width: 90%;
    }

    .aps-list {
        margin-left: 0px;
    }
    .header__bee {
        display: none;
    }
    .aps-name h5 {
        font-size: 15px;
    }
    .aps-name  {
        font-size: 14px;
    }
    .ml-minus-15  {
        margin-left: 0px;
    }
    #signup .modal-header {
        overflow: hidden;
        background: #efefef;
    }
    #signup .close {
        margin-right: 5px;
    }
    .reviews__modal--content .modal-header .modal-title {
        padding-left: 20px;
    }

    .round label:after {
        border: 2px solid #eff0f2;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 3px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 12px;
      }
    .reserv h4 {
        font-size: 14px;
        font-weight: 500;
    }

    .reserv .arrival-text {
        font-size: 16px;
        font-weight: 700;
    }

    .reserv .col-12 {
        padding: 0;
    }
}

@media (min-width: 770px) and (max-width: 1645px) {
    .px-6 {
        padding: 0 1.5rem;
    }

}

@media (min-width: 769px){
.d-lg-initial {
    display: initial !important;
}
.border-1 {
    border: 1px solid #cbcbcb;
}
.footer-social-icons {
    width: 64%;
}
.goes-left-lg, .goes-left-lg-md {
    float: left;
}
.footer-cc-icons {
    width: 32%;
}
.goes-right-lg, .goes-right-lg-md {
    float: right;
}
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70%;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1200px) {
    .steps-cover ul li:nth-child(2) {
        margin-left: 50%;
    }
    .steps-cover ul li:last-child {
        margin-left: 44%;
    }
    .estate__header--info {
        margin-right: 30px;
    }
}



@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70%;
        margin: 1.75rem auto;
    }
}

@media (min-width: 1200px) {
    
}

@media (max-width: 1200px) {
    .add-to-booking {
        margin-bottom: 30px;
    }
    .bg-grey-aps .topbar__change {
        font-size: 14px;
    }
    .discount__signup .box {
        display: flex;
        flex-direction: unset;
    }
    .discount__signup .box p {
        font-size: 13px !important;
    }
    .discount__signup .box .float-right {
        float: none;
    }
}



@media screen and (max-width: 991px) {
    #lightbox .modal-dialog {
        border-radius: 5px;
    }
    #lightbox .modal-header {
        background: #efefef;

    }
    .close img {
        width: 15px;
        height: 15px;
        padding:0;
        overflow: hidden;
    }
    .reviews__modal--content .modal-header {
        overflow: hidden;
        background: #efefef;
    }
    .read-more {
        display: none;
    }
    .estate__header {
        text-align: left;
    }
    .estate__header--info {
        padding: 10px;
    }

    .facilities__header {
        text-align: left;
        margin-top: 10px;
    }

    .facilities__header--img {
    }

    .text-uppercase.mb-4.mt-4.px-0.px-md-0 {
        font-size: 20px;
    }

    .container.my-5.px-0.px-md-2.text-md-left.text-lg-left.pl-lg-0 h3 {
        font-size: 20px;
    }

    .estate__header--info:first-child {
        display: block;
        margin: 0.2em auto;
        margin-top: 20px;
    }
    .discount-absolute {
        position: static;
        width: auto;
    }
    .container.my-5.pl-0 h3 {
        font-size: 20px;
    }

    .facilities__header--text {
        font-size: 16px;
    }
    
    .signup__modal--image {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .estate__header--info {
        display: block;
        margin: 0.2em auto;
    }

    .estate__header--info p {
        margin: 0 auto;
    }

    .facilities__list {
        margin-top: 10px;
    }

    .estate__header {
        margin-left: 15px;
    }

    .estate__image {
        display: block;
        margin: 0 auto;
    }

    #lightbox .navigation {
        margin-bottom: 30px;
    }
    .aps-img .photos-icon {
        margin-left: 5px;
    }
    #rateModal .modal-header {
        padding: 0;
    }

    #signup .close b {
        padding-right: 10px;
    }

    #signup .square label {
        margin-top: 15px;
    }

    #signup .agree-font-margin {
        margin-top: -5px;
        display: block;
    }

    #signup .modal-title {
        font-size: 18px;
    }
    
    #signup .modal-header {
        border-bottom: 1px solid #cbcbcb;
        padding:0 !important;
    }
    .border-grey-blt {
        border: #cbcbcb 1px solid;
    }
}

@media (max-width: 1200px) {
    
    .box {
        flex-direction: column;
    }
    .day-box {
        height: auto;
        width: 100%;
    }

    .mobile-price {
        font-size: 18px;
        font-weight: 500;
    }

    .mobile-date {
        font-size: 20px;
        color: black;
    }
    .not-available-img {
        height: 14px;
        width: 14px;
    }
    #parkingModal .modal-header {
        padding: 0 !important;
    }
    #extraModal .modal-header {
        padding: 0 !important;
    }
    #map2 {
        width: 90%;
        margin: 20px auto;
    }
    #parkingModal p {
        margin: 10px 20px;
    }
    #extraModal p {
        margin: 10px 20px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .arrow {
        margin-top: 25px;
        width: 40px;
        height: 14px;
        margin-right: -5px;
    }
    .last-step {
        text-align: center;
        font-size: 12px;
    }
    .booked .your-booking::after {
        content: "";
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #333333 transparent transparent transparent;
      }
}

@media (min-width: 1200px) and (max-width: 1340px) {
    .md-no-padding-left {
        padding-left: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .no-availability span {
        font-size: 12.5px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .last-step {
        padding: 8px 0px;
        font-size: 0.8em;
    }
    .px-7 {
        padding: 10px 1.5rem;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .round label:after {
        left: 7px;
        top: 9px;
    }
    .steps-cover ul li:nth-child(2) {
        float: left;
        margin-left: 45%;
    }
    .steps-cover ul li:last-child {
        float: left;
        margin-left: 48%;
        margin-right: 0;
    }
    .steps-cover ul li a {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #ffffff;
        border: solid 2px #000000;
        position: relative;
    }

    #signup .square p {
        font-size: 12px !important;
    }

    .agree-font-margin {
        font-size: 12px;
    }
}

@media (min-width: 300px) and (max-width: 570px) {
    #signup .square p {
        font-size: 12px !important;
    }
    
    .aps-img .photos-icon {
        height: 13px;
        margin-left: 5px;
        bottom: -7px;
    }
    .aps-img .gallery-p {
        bottom: -7px !important;
    }
    .apartment__header {
        font-size: 16px;
        line-height: 18px;
    }
    .apartment__header span {
        font-size: 16px;
        line-height: 18px;
    }
    .apartment__description p {
        font-size: 14px;
    }
    .apartment__perks span {
        font-size: 14px;
    }
    .apartment__booking p {
        font-size: 14px;
    }
    .apartment__change--date {
        font-size: 15px;
    }
    .aps {
        
    }

    .mt-10 {
        margin-top: 0.2rem !important;
    }
    .apartment__booking--button {
        padding: 10px 4.4rem !important;
    }
    .steps-cover ul li:nth-child(2) {
        float: left;
        margin-left: 45%;
    }
    .other-locations-padding {
        text-align: right;
    }
    .steps-cover ul li:last-child {
        float: left;
        margin-left: 45%;
        margin-right: 0;
    }
    .steps-cover ul li a {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #ffffff;
        border: solid 2px #000000;
        position: relative;
    }
    .steps-cover ul li.active a {
        background: black;
    }
    .aps-img img {
        width: 131px;
        height: 91px;
    }
    .bg-grey-aps h5 {
        font-size: 14px;
    }

    .bg-grey-aps p {
        font-size: 13px;
    }
    .apartment__booking--button {
        margin-left: 0rem !important;
    }
    .read-reviews {
        font-size: 15px;
    }
    .more-packages {
        width: 95% !important;
    }
    .less-packages {
        width: 95% !important;
    }
   
}

@media (min-width: 570px) and (max-width: 766px) {
    .steps-cover ul li:nth-child(2) {
        float: left;
        margin-left: 45%;
    }
    .steps-cover ul li:last-child {
        float: left;
        margin-left: 43%;
        margin-right: 0;
    }
    .steps-cover ul li a {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #ffffff;
        border: solid 2px #000000;
        position: relative;
    }
    .steps-cover ul li.active a {
        background: black;
    }
} 

@media (min-width: 730px) and (max-width: 960px) {
    .topbar-date {
        width: 286px;
    }

    .topbar-date a {
        text-align: center;
    }

    .topbar-change {
        
        width: 216px;
    }

    .topbar-change a {
        text-align: center;
    }
    .topbar-people {
        
        width: 246px;
    }

    .topbar-people a {
        text-align: center;
    }

    .topbar-wider .topbar-date {
        width: 286px;
    }

    .topbar-wider .topbar-date a {
        text-align: center;
    }

    .topbar-wider .topbar-change {
        
        width: 216px;
    }

    .topbar-wider .topbar-change a {
        text-align: center;
    }
    .topbar-wider .topbar-people {
        
        width: 246px;
    }
    .topbar-wider .topbar-people a {
        text-align: center;
    }
}

@media (min-width: 961px) and (max-width: 1050px) {

    .last-step {
        width: 300px !important;
    }
    .other-locations .row.align-items-center p {
        font-size: 14px !important;
    }
    .topbar-change {
        width: 150px;
    }
    .topbar-buttons {
        width: 300px;
    }
    .topbar-name {
        width: 150px;
    }

    .topbar-wider .topbar-change {
        width: 150px;
    }
    .topbar-wider .topbar-buttons {
       width: 300px;
    }
    .topbar-wider .topbar-name {
        width: 150px;
    }
}

@media (min-width: 767px) and (max-width: 990px) {
    .steps-cover ul li:nth-child(2) {
        float: left;
        margin-left: 45%;
    }
    .steps-cover ul li:last-child {
        float: left;
        margin-left: 46%;
        margin-right: 0;
    }
    .steps-cover ul li a {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: #ffffff;
        border: solid 2px #000000;
        position: relative;
    }
    .steps-cover ul li.active a {
        background: black;
    }
}

@media (min-width: 400px) and (max-width: 570px) {
    .signup__modal--image {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .container {
        max-width: 360px;
    }
    #pills-second {
        background: white;
        color: black;
    }
    #pills-active {
        background: #333333;
        color: white;
        padding: 10px 11px !important;
    }
    .pills-free {
        font-size: 12px;
    }
    #pills-second {
        padding: 13px 11px !important;
    }
    .topbar-date {
        width: 170px !important;
    }
    .close {
        overflow: hidden;
    }
    .location__info {
        margin-top: 15px;
    }
    .location__info p:first-child {
        margin-top: 0px;
    }
    .booked .your-booking::after {
        content: "";
        position: absolute;
        top: 245px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #333333 transparent transparent transparent;
    }

    #pills-active::after {
        content: "";
        position: absolute;
        top: 140px;
        left: 85px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }

    #pills-active.changed::after {
        content: "";
        position: absolute;
        top: 140px;
        left: 285px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }
}

@media (min-width: 200px) and (max-width: 399px) {
    .signup__modal--image {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .location__info {
        margin-top: 20px;
    }
    .reviews__modal--content {
        border-radius: 4px;
    }
    #locationModal .close b {
        margin-right: 10px;
        font-weight: 600;
    }
    .topbar-date {
        width: 150px !important;
    }
    .container {
        max-width: 350px;
    }
    #pills-second {
        background: white;
        color: black;
    }
    #pills-active {
        background: #333333;
        color: white;
        padding: 10px 11px !important;
    }
    .pills-free {
        font-size: 12px;
    }
    #pills-second {
        padding: 13px 11px !important;
    }
    .close {
        overflow: hidden;
    }
    .booked .your-booking::after {
        content: "";
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 20px 17.5px 0 17.5px;
        border-color: #333333 transparent transparent transparent;
    }
    #pills-active::after {
        content: "";
        position: absolute;
        top: 140px;
        left: 85px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }
    

    #pills-active.changed::after {
        content: "";
        position: absolute;
        top: 140px;
        left: 285px;
        right: 0;
        width: 0;
        height: 0;
        z-index: 10;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #333333 transparent transparent transparent;
    }
}

@media (min-width: 576px) {
    .more-packages {
        width: 100%;
    }
    .less-packages {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .booking__modal--content .modal-header { 
        background: #efefef;
        padding: 0;
        border-bottom: 1px solid #cbcbcb;
    }
    .modal-body.location.p-0.p-md-3 {
        padding: 0px !important;
        padding-top: 10px !important;
    }

    .modal-body.location.p-0.p-md-3 .container-fluid {
        padding-top: 10px !important;
    }
}

@media (min-width: 1023px) and (max-width: 1024px) {
    #parkingModal .close img {
        padding-right: 10px;
    }
    .topbar-change {
        width: 110px;
    }

    .topbar-wider .topbar-change {
        width: 110px;
    }
    .topbar-buttons {
        margin-left: 0;
    }
    .topbar-wider .topbar-buttons {
        margin-left: 0;
    }
}

