<!-- Cancellation -->
<div class="modal fade" id="cancelation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog cancelation__modal" role="document">
          <div class="modal-content cancelation__modal--content">
            <div class="modal-header p-0">
              <div class="container float-right">
                <button type="button" class="close close-cancellation" data-dismiss="modal" aria-label="Close">
                    <img src="img/icon-close-lightbox.png" class="cancelation__modal--image">
                    <p class="float-left mr-3">Close</p>
                </button>
              </div>
            </div>
            <div class="modal-body py-0">
              <div class="row cancelation__modal--text p-2 px-3">
                <p class="text-uppercase"><span class="bold">Free</span> cancellation</p>
              </div>
              <div class="row">
                <p class="pb-0 p-4 cancelation__modal--description">Don’t pay anything until you arrive. Cancel for free up until 2pm Mon 19th Nov.</p>
              </div>
            </div>
          </div>
        </div>
    </div>