<div class="modal fade" id="extra" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog extra__modal" role="document">
          <div class="modal-content extra__modal--content">
            <div class="modal-header p-0">
              <div class="container float-right">
                <button type="button" class="close close-extra" data-dismiss="modal" aria-label="Close">
                    <img src="img/icon-close-lightbox.png" class="extra__modal--image">
                    <p class="float-left mr-3">Close</p>
                </button>
              </div>
            </div>
            <div class="modal-body py-0">
              <div class="row extra__modal--text p-2 px-3">
                <p class="text-uppercase"><span class="bold">Breakfast</span></p>
              </div>
              <div class="row">
                <img src="img/breakfast-slider.png" class="img-fluid img-100">
                <p class="pb-0 p-4 extra__modal--description">Enjoy a continental-style breakfast basket delived to your door in the morning. Includes fresh bread and pastries, local cheeses and fruit, tea and coffee.</p>
              </div>
            </div>
          </div>
        </div>
    </div>