<!-- Location -->
<div class="modal fade reviews__modal" id="exampleModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content reviews__modal--content">
            <div class="modal-header">
              <div class="container">
                <div class="row">
                    <h5 class="modal-title">Marseille <span class="bold">Centre Vieuxport</span></h5>
                </div>
              </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="img/icon-close-lightbox.png" alt="">
            </button>
            </div>
            <div class="modal-body location">
             <div class="container-fluid">
              <div class="col-md-6 location__info">
                <p><span class="bold">Address</span> 4 Place Bertas, 13001 Marseille</p>
                <p><span class="bold">Front Desk Tel. </span> + 33 4 91 87 82 20</p>
                <p><span class="bold">GPS</span> Lat: 43.3005,   Lng: 5.3745</p>
    
                <p class="location__info--textbox">
                  Staycity’s centrally located apartments are everything you look for in accommodation in Marseille. Located near majestic landmarks such as the Notre Dame de la Garde, Abbaye Saint Victor and its beautiful old port – all of which are there to be explored by the avid visitor. 
                  <br/>
                  <br/>
                  With 300 days of sunshine a year, sandy beaches, winding coastal roads and a thriving old port, Marseille is both picturesque and relaxing, all in one beautiful bundle.
                </p>
    
                
              </div>
              <div class="col-md-6">
    
              </div>
              <hr/>
              <h5 class="modal-title text-uppercase pl-2"><span class="bold">Location</span> & What's nearby <img src="img/bee-small-message.png" class="pl-2"></h5>
              <div class="row location__nearby">
                  <div class="col-12 col-md-4">
                    <ul>
                      <li><span class="f-500">Marseille Provence Airport</span> - 19.6km</li>
                      <li><span class="f-500">Centre Bourse Shopping Centre</span> - 700m</li>
                      <li><span class="f-500">Notre-Dame de la Garde Basilica</span> - 290m</li>
                    </ul>
                  </div>
                  <a href="#" class="d-inline d-md-none anchor-yellow pl-4"><u>Read more...</u></a>
                  <div class="d-none d-md-block col-md-4">
                    <ul>
                        <li><span class="f-500">Jardin des Vestiges</span> - 0.3km</li>
                        <li><span class="f-500">Le Canebiere</span> - 0.5km</li>
                        <li><span class="f-500">Saint-Ferreol Street</span> - 290m</li>
                    </ul>
                  </div>
                  <div class="d-none d-md-block col-md-4">
                    <ul>
                        <li><span class="f-500">Museum D&apos;histoire de Marseille</span> - 0.3km</li>
                        <li><span class="f-500">Vieux Port Metro station</span> - 1.6km</li>
                        <li><span class="f-500">Cours Belsunce</span> - 0.3km</li>
                    </ul>
                  </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                              Getting here by bus
                              </a><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><img src="img/icon-arrow-down.png" class="float-right arrow"></a>
                            </h4>
                          </div>
                          <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                              Arriving by car</a><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><img src="img/icon-arrow-down.png" class="float-right arrow"></a>
                            </h4>
                          </div>
                          <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</div>
                          </div>
                        </div>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                              Getting here by train</a><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><img src="img/icon-arrow-down.png" class="float-right arrow"></a>
                            </h4>
                          </div>
                          <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Arriving by bus</a><a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><img src="img/icon-arrow-down.png" class="float-right arrow"></a>
                          </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo consequat.</div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            From the airport</a><a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><img src="img/icon-arrow-down.png" class="float-right arrow"></a>
                          </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                          commodo consequat.</div>
                        </div>
                      </div>
                </div>
              </div>
              <hr class="mt-10">
              <h5 class="modal-title text-uppercase no-margin-bottom">Good <span class="bold">to know</span><img src="img/bee-small-message.png" class="pl-2"></h5>
              <div class="row location__know">
                <div class="col-12 col-md-6">
                  <span class="bold">Check in &amp; Check out</span>
                  <p>
                      Check in is from 3pm, and check out is by 11am. We offer 24-hour check-in. If you are arriving before check-in time on your booking date, we may be able to offer early check-in at a €10 per hour fee (subject to availability).  If your apartment isn&apos;t available, we will store your luggage free of charge until it is.
                  </p>
                  <div class="d-none d-md-block">
                      <span class="bold">Pets</span>
                      <p>There are no pets allowed at this property. Guide dogs are welcome.</p>
                      <span class="bold">WiFi</span>
                      <p>There is free high speed wifi in all apartments, and all public areas of the building. </p>
                      <span class="bold">Breakfast</span>
                      <p>There is an option to order breakfast baskets when you book your apartment, at a cost of €9 per person. These will be delivered to your door in the morning, and include fresh bread and pastries, local cheese and fruit, tea and coffee. </p>
                      <span class="bold">Flexible Bed Options</span>
                      <p>When you book your apartment you will have the option to replace any double bed with two singles.</p>
                  </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                  <span class="bold">Cancelalation Policy</span>
                  <p>There are different cancellation options at this property, depending on what you book:</p>
                  <br>
                  <p><u>If you book Pay Now &amp; Save:</u> If cancelled, modified or in case of no-show, the total price of the reservation will be charged.</p>
                  <br>
                  <p><u>If you book FREE Cancellation:</u> You may cancel free of charge until 3pm the day before arrival. You will be charged the total price if you cancel after this time.</p>
                  <span class="bold">Cards accepted</span>
                  <p>We accept all major credit cards, including VISA, mastercard, &amp; American Express. You can pay by cash for your serviced apartment booking at Staycity&apos;s 24-hour reception. However, we do ask for ID (passport or driver&apos;s licence) for security reasons.</p>
                  <span class="bold">Facilities for guests with disabilities</span>
                  <p>The entire building is wheelchair accessible. The upper floors are accessble by lift, and we have accessible apartments available with bathrooms with grab rails.</p>
                </div>
              </div>
             </div>
             <hr>
             <h5 class="modal-title text-uppercase pl-2 mb-4">Get <span class="bold">in touch</span><img src="img/bee-small-message.png" class="pl-2"></h5>
             <div class="row location__touch pl-3 pl-md-2">
                <div class="col-12 col-md-4">
                  <span class="bold">Front Desk Enquiries</span>  + 33 4 91 87 82 20
                </div>
                <div class="col-12 col-md-4">
                  <span class="bold">Email </span> christchurch.info@staycity.com
                </div>
                <div class="col-12 col-md-4">
                  <span class="bold">Reservations</span> +353 1 539 0909
                </div>
             </div>
            </div>
            <div class="modal-footer">
              
            </div>
          </div>
        </div>
      </div>