<!-- Parking -->
<div class="modal fade parking__modal" id="parking" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content parking__modal--content">
            <div class="modal-header">
            <div class="container float-right d-block d-md-none">
                <button type="button" class="close close-extra" data-dismiss="modal" aria-label="Close">
                    <img src="img/icon-close-lightbox.png" class="extra__modal--image">
                    <p class="float-left mr-3">Close</p>
                </button>
            </div>
            <div class="d-none d-md-block">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="img/icon-close-lightbox.png" alt="">
                </button>
            </div>
           
            </div>
            <div class="modal-body">
                <div class="d-block d-md-none">
                  <div class="row extra__modal--text p-2 px-3">
                      <p class="text-uppercase pl-2"><span class="bold">Parking</span></p>
                  </div>
                  <p class="pb-0 p-4 extra__modal--description">
                      Add parking for the duration of your stay, in our secure 24/7 carpark a five minute walk from the aparthotel building. Valid from check in until 12 noon the day of departure.
                  </p>
                </div>
                
             <div id="map-modal">
    
             </div>
            </div>
          </div>
        </div>
      </div>
    