<!-- Reviews -->
<div class="modal fade reviews__modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content reviews__modal--content">
            <div class="modal-header">
              <div class="container">
                <div class="row">
                    <h5 class="modal-title" >TripAdvisor <span class="bold">Reviews</span></h5>
                </div>
                <div class="row">
                    <p>These reviews are not filtered and updated bi-weekly from TripAdvisor.com</p>
                  </div>
              </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="img/icon-close-lightbox.png" alt="">
            </button>
            </div>
            <div class="modal-body">
             <div class="container-fluid">
                <div class="row reviews__review">
                    <div class="col-2 col-md-2 text-center">
                       <img src="img/img-profile-1.png" class="reviews__review--profile img-fluid">
                    </div>
                    <div class="col-10 col-md-10">
                     <h3>"Excellent value"</h3>
                     <img src="img/tripadvisor-4.png" class="reviews__review--tripadvisor">
                     <p class="reviews__review--username">Reviewed by <span class="bold">H0ckeychick</span>, a TripAdvisor traveller. Travel date: October, 2018.</p>
                     <p>Trip type: Family</p>
                     <p class="reviews__review--description">&quot;Great value for money and excellent location. Also upgraded to 2 bedroom apartment and very comfy beds. Only 2 min walk to Brazen Head pub which was very quirky and lovely Guinness and convenient to get to Temple Bar etc.”</p>
                    </hr>
                   </div>
                  </div>
               <div class="row reviews__review">
                  <div class="col-2 col-md-2 text-center">
                     <img src="img/img-profile-1.png" class="reviews__review--profile img-fluid">
                  </div>
                  <div class="col-10 col-md-10">
                   <h3>"Excellent value"</h3>
                   <img src="img/tripadvisor-4.png" class="reviews__review--tripadvisor">
                   <p class="reviews__review--username">Reviewed by <span class="bold">H0ckeychick</span>, a TripAdvisor traveller. Travel date: October, 2018.</p>
                   <p>Trip type: Family</p>
                   <p class="reviews__review--description">&quot;Great value for money and excellent location. Also upgraded to 2 bedroom apartment and very comfy beds. Only 2 min walk to Brazen Head pub which was very quirky and lovely Guinness and convenient to get to Temple Bar etc.”</p>
                  </hr>
                 </div>
                </div>
                <div class="row reviews__review">
                    <div class="col-2 col-md-2 text-center">
                       <img src="img/img-profile-1.png" class="reviews__review--profile img-fluid">
                    </div>
                    <div class="col-10 col-md-10">
                     <h3>"Excellent value"</h3>
                     <img src="img/tripadvisor-4.png" class="reviews__review--tripadvisor">
                     <p class="reviews__review--username">Reviewed by <span class="bold">H0ckeychick</span>, a TripAdvisor traveller. Travel date: October, 2018.</p>
                     <p>Trip type: Family</p>
                     <p class="reviews__review--description">&quot;Great value for money and excellent location. Also upgraded to 2 bedroom apartment and very comfy beds. Only 2 min walk to Brazen Head pub which was very quirky and lovely Guinness and convenient to get to Temple Bar etc.”</p>
                   </div>
                </div>
             </div>
            </div>
            <div class="modal-footer">
              
            </div>
          </div>
        </div>
      </div>