<!-- Search -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog search__modal" role="document">
          <div class="modal-content search__modal--content">
            <div class="modal-body">
             <div class="container-fluid">
              <form>
                <div class="form-group">
                  <label for="city">City</label>
                  <select class="form-control" id="city">
                    <option>Marseille</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="location">Location/Property</label>
                  <select class="form-control" id="location">
                    <option>Centre Vieux Port</option>
                  </select>
                </div>
                <div class="form-row">
                  <div class="col">
                    <label for="">Arrive</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="col">
                    <label for="">Leave <span>(2 nights)</span></label>
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">My dates are flexible</label>
                </div>
                <div class="form-group">
                    <label for="people">People</label>
                    <select class="form-control" id="people">
                      <option>2</option>
                    </select>
                </div>
                <p class="font-13"><span class="bold">Your price is per apartment</span>, not per person.<br/>
                We just want to make sure everybody fits!
                </p>
                <div class="form-group">
                    <label for="apartments">No. of Apartments</label>
                    <select class="form-control" id="apartments">
                      <option>1</option>
                    </select>
                </div>
                <div class="form-group mt-4 no-margin-bottom">
                    <button class="apartment__booking--button text-uppercase py-2 w-100 text-center">Search<span class="bold"> apartments</span> &gt;&gt;</button>
                </div>
              </form>
             </div>
            </div>
          </div>
        </div>
      </div>