      <!-- Signup -->
      <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog signup__modal" role="document">
              <div class="modal-content signup__modal--content">
              <div class="modal-header">
                  <div class="container">
                    <div class="row">
                        <img src="img/bee-sign-up-lightbox.png" class="signup__modal--image mx-auto">
                        <h5 class="modal-title mt-3 text-uppercase pl-2">Stay smart,<span class="bold"> join the club </span></h5>
                    </div>
                  </div>
                  <button type="button" class="close d-none d-md-block" data-dismiss="modal" aria-label="Close">
                      <img src="img/icon-close-lightbox.png" alt="">
                  </button>
                </div>
                <div class="modal-body">
                 <div class="container-fluid">
                   <p class="mt-md-2">Join our loyalty club today and get <span class="bold">10% off every booking you make with us, including this one!</span> You’ll be returned back to your booking when you’re finished signing up.</p>
                  <form>
                    
                    <div class="form-row mt-md-0 mt-4">
                      <div class="col-12 col-md-6">
                        <label for="">First Name*</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="col-12 col-md-6">
                        <label for="">Last Name*</span></label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-row mt-md-0 mt-4">
                        <div class="col-12 col-md-6">
                          <label for="">Email Address*</label>
                          <input type="email" class="form-control">
                        </div>
                        <div class="col-12 col-md-6">
                          <label for="">Create Password*</span></label>
                          <input type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-row mt-md-0 mt-4">
                        <div class="col-12 col-md-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">I would like to receive news &amp; special offers from Staycity</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">I agree to the Terms &amp; Conditions and Privacy Policy</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-md-0 mt-4">
                        <div class="col-12 col-md-6 order-last order-md-first">
                            <p class="mt-md-3">Already a member? <u class="bold"><a href="#" class="anchor-black">Login Here</a></u></p>
                        </div>
                        <div class="col-12 col-md-6 order-first order-md-last">
                            <button class="signup__modal--button text-uppercase text-center py-2 w-100">Join <span class="bold">now</span> &gt;&gt;</button>
                        </div>
                    </div>
                    
                  </form>
                 </div>
                </div>
              </div>
            </div>
          </div>